@media only screen  and (max-width : 1366px) {

}
@media only screen  and (max-width :1024px) 


	/* -----------------------------------
 * Slidebars
 * Version 0.10.3
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */
{
	 html, body, #sb-site, .sb-site-container, .sb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
	height: 100%; /* Site is as tall as device. */
}

body {
	min-height: 100%;
	height: auto;
	position: relative; /* Required for static Slidebars to function properly. */
}

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

/* ----------
 * 002 - Site
 */

#sb-site, .sb-site-container {
	/* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	height:auto;
	position: relative;
	z-index: 0; /* Site sits above Slidebars */
 /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}

/* Micro clearfix by Nicolas Gallagher, ensures the site container hits the top and bottom of the screen. */
#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
	content: ' ';
	display: table;
}

#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
    clear: both;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
	overflow-x: auto;
	position: fixed;
	top:0;
	z-index:0; /* Slidebars sit behind sb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: #; /* Default Slidebars background colour, overwrite this with your own css. */
}

.sb-slidebar, .sb-slidebar * {
	-webkit-transform: translateZ( 0px ); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
	left: 0; /* Set Slidebar to the left. */
}

.sb-right {
	right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
	z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch; /* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
	.sb-slidebar {
		width: 44%;
		background-color:#29313a;
	}
	
	.sb-width-thin {
		width: 15%;
	}
	
	.sb-width-wide {
		width: 45%;
	}



/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
	-webkit-transform: translate( 0px );
	   -moz-transform: translate( 0px );
	     -o-transform: translate( 0px );
	        transform: translate( 0px );
	
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition:    -moz-transform 400ms ease;
	     -o-transition:      -o-transform 400ms ease;
	        transition:         transform 400ms ease;
	
	-webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.sb-hide { 
	display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}


	/*----------------MENUUUUUUU MOVILLLLLL-------------*/
	/*----------------MENUUUUUUU MOVILLLLLL-------------*/

body  #sb-site{margin-top:80px;}

.head_movil{
position:absolute;
width:100%;
margin-top:-80px;
background-color:#29313a;
height:80px;}

#ico-menu-movil{
position:absolute;
height:50px;
width:25%;
display:block;
margin:15px 0px 0px 25px;

}

#ico-menu-movil img
{cursor:pointer;}



.head_movil a{position:relative;
float:right;
width:23%;
display:block;
margin:10px 15px 0px 0px;
}

.logo-movil{position:relative;
float:right;
width:100%;
display:block;
margin-right:5%;

}


.sb-slidebar{padding-left:2%;padding-right:2%;}




/*MENU PERSONALIZADO BRONTO*/

body #wrap-index header, body  .wrapper header{
position:relative;
float:left;
height:auto;
margin:0px;
width:100%;
margin-left:0%;
border-radius:0px;
background-image:none;
padding:0px;
}
#wrap-index .logo-index-header, .wrapper   .logo-index-header{display:none;}

.wrapper  #box-mycar, #wrap-index #box-mycar{
position:relative;
float:right;
width:100%;
margin-top:20px;
right:0%;
height:auto;}

#wrap-index .img-span, .wrapper  .img-span{position:relative;
float:right;
width:auto;
margin-left:0%;
left:0%;
}

#wrap-index #number-car, .wrapper #number-car{
position:absolute;
width:20px;
height:18px;
right:0px;
text-align:center;
background-color:#06bbb1;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
font-family:verdana;
font-size:.8em;
color:#fff;
}

#wrap-index nav, .wrapper nav{
position:relative;
width:100%;
float:left;
margin-left:0%;
height:auto;
margin-top:10px;

}
.wrapper  #menu-nav li, #wrap-index #menu-nav li {
position:relative;
float:left;
width:100%;
height:80px;
padding-left:0%;
padding-right:0%;
text-align:center;
border-right:0px solid #1d2020;
border-bottom:1px solid #1d2020;
}




 .wrapper  #menu-nav a ,#wrap-index #menu-nav a{
text-decoration:none;
display:block;
color:#fff;
height:50px;
padding-top:30px;
font-family: 'Raleway', sans-serif;
font-size:.9em;
}

#wrap-index #nav-home a{border-bottom:2px solid #1ac1b4;}
#wrap-serv #nav-serv a,
#wrap-port #nav-port a,
#wrap-contac  #nav-cont a,
#wrap-tienda  #nav-tienda a
{
border-bottom:2px solid #1ac1b4;
}
#wrap-index #menu-nav a:hover, 
.wrapper  #menu-nav a:hover{
border-bottom:2px solid #1ac1b4;

}
body  #menu-nav #nav-cont a
 {border-bottom:1px solid #1d2020;
}

body #menu-nav #nav-cont  a:hover{
	border-bottom:5px solid #1ac1b4;
}

.box-contenido{background-color:#fff;}



/*----------------MENUUUUUUU MOVILLLLLL-------------*/
/*----------------contenido-------------*/
body #myCarousel, body  .carousel-inner{height:360px;}

#wrap-index  .carousel-caption{
margin-top:150px;
}
.btn-mas
{
width:55%;

}
#about-title{font-size:3.0em;
margin-top:0px;}

.img-redes-pie{right:38%;}

/*---SERVICIOS----*/
#box-subtitulo-secciones{border-top:1px solid #2e373f;}


.h2-articulos-servicios{font-size:1.2em;}
.cover-services{
margin-top:30px;
padding-top:30px;}
/*-----PORTAFOLIO-----*/
#titulo-form .subtitulos-seccion-2{font-size:3.5em;}
#box-nombre-portafolio{padding-top:60px;
padding-bottom:70px;}
.box-portafolio h5{font-size:.8em;
font-weight:400;
margin-top:10px;}

/*-----cOntacto-----*/
#box-mapa iframe{height:240px;}
.box-infor span{font-size:.9em;}
.caja-form{height:40px;}
#mensaje-contacto{height:160px;}


/*---------TIENDAA-------*/

.box-circle-catego{left:5%;}
.box-art-categorias{height:320px;}


#seccion-categoria{
width:66%;}
#box-aside-cover{
width:25%;}
.articles-categoria{width:32%;}

 .img-box img{
  height:140px;
 }

}


@media only screen  and (max-width :800px) {
	
#ico-menu-movil{
margin:15px 0px 0px 15px;}


.head_movil a{
width:30%;
display:block;
margin:10px 15px 0px 0px;
}

.logo-movil{
width:100%;
display:block;
margin-right:5%;

}
/*----------------contenido-------------*/
body #myCarousel, body  .carousel-inner{height:290px;}

#wrap-index  .carousel-caption{
margin-top:80px;
}

.box-servicios-all{
	height:250px;
	
}
.box-servicios-all img{
width:30%;
margin-left:30%;
}
.box-txt-serv-home{
width:92%;
padding:4%;
}
.name-service-home{
font-size:1.2em;
text-align:center;
}

.txt-servicios-home{
font-size:.9em;
color:#344046;
font-weight:400;
text-align:center;
}
.box-tsection{margin-top:20px;}
.img-redes-pie{right:35%;}
body .pie-copy{
display:block;
width:100%;
float:right;
margin-left:0%;
text-align:center;
}

/*---SERVICIOS----*/
#box-subtitulo-secciones{border-top:1px solid #2e373f;}


.h2-articulos-servicios{font-size:1.2em;}
.cover-services{
padding-top:20px;
}
.box-servicios{
width:39%; 
padding:0%;
height:auto;
margin-left:8%;
margin-top:40px;
left:0%;
}
/*-----PORTAFOLIO-----*/
.subtitulos-seccion-2, #titulo-form 
{font-size:3.0em;}

#box-nombre-portafolio
{padding-top:50px;
padding-bottom:50px;}


.box-portafolio h5{font-size:.9em;
font-weight:400;}

.box-portafolio{width:44%;
margin-left:2.5%;
margin-right:2.5%;}


/*-----cOntacto-----*/
#box-mapa iframe{height:200px;}
.box-infor span{font-size:.9em;}
.caja-form{height:40px;}
#mensaje-contacto{height:160px;}

#box-form-contac{
margin-top:0px;
padding-bottom:80px;
width:90%;
margin-left:5%;
}
.img-inf{
margin-left:30%;
width:38%;}

 
.box-infor span{
text-align:center;
width:100%;
margin-top:10px;}


#btn-contact{

	width:40%;
	padding:20px 0px 20px 0px;
	height:60px;
	font-size:.9em;


	}
/*------TIENDA---------*/
.box-art-categorias{height:255px;}

.box-circle-catego{left:2%;width:153px;
height:153px;}

.box-circle-in
{width:140px;
height:140px;}
.boton-categorias{
padding-top:10px;
padding-bottom:10px;
font-size:.9em;
}
#box-catego-tienda{margin-top:0px;}


#seccion-categoria{
width:61%;}
#box-aside-cover{
width:30%;}
.articles-categoria{width:48%;}

 .img-box img{
  height:140px;
 }
 .subtitulos-seccion-catego{font-size:2.2em;}
  .box-nombre-seccion{margin-bottom:0px;}
 .p-intro{padding-bottom:0px;}
 
 
 
 
#box-img-item{
width:40%;
margin-left:5%;
margin-right:5%;

}
.box-descrip{
width:40%;
margin-right:10%;
}
}


@media only screen  and (max-width :640px) {
	/*----------------contenido-------------*/
body #myCarousel, body  .carousel-inner{height:200px;}

#wrap-index  .carousel-caption{
margin-top:40px;
}

#wrap-index .btn-primary{
border-color:#000;
color:#000;
padding:10px;
}

#wrap-index  .carousel-caption h2, #wrap-index  .carousel-caption  .lead{
  color: #000;
}
.btn-mas
{
width:100%;

}
#about-title{font-size:2.3em;
}


.box-pie{

width:29%;
padding:1%;
margin-bottom:50px;
}
#nosotros-foot{display:none;
}
.titu-section

{
font-size:1.8em;}

#cover-articulos-index{padding-bottom:80px;}
#box-cover-servicios{margin-top:10px;}


.img-redes-pie {
margin-left:1%;
right:33%;
}
.btn-mas{width:66%;}


/*----SERVICIOSS----*/
.box-nombre-seccion{
margin-top:70px;
}
.box-servicios{
width:38%; 
padding:0%;
height:auto;
margin-left:6%;
margin-top:40px;
left:0%;
}

/*-----------PORTAFOLIO----------*/
.subtitulos-seccion-2
{width:90%;font-size:2.6em;}

.box-portafolio{width:70%;
margin-left:14%;
margin-right:0%;}


/*-----cOntacto-----*/
#box-mapa iframe{height:200px;}
.box-infor span{font-size:.9em;}
.caja-form{height:40px;}
#mensaje-contacto{height:160px;}

#box-form-contac{
margin-top:0px;
padding-bottom:80px;
width:90%;
margin-left:5%;
}
.img-inf{
margin-left:30%;
width:38%;}

 
.box-infor span{
text-align:center;
width:100%;
margin-top:10px;}


#btn-contact{

	width:40%;
	padding:20px 0px 20px 0px;
	height:60px;
	font-size:.9em;
}

.img-inf{
margin-left:20%;
width:58%;}

/*------TIENDA---------*/
.box-art-categorias{
margin-top:0px;
width:48%;
height:265px;}

.box-circle-catego{left:12%;
width:163px;
height:163px;}

.box-circle-in
{width:150px;
height:150px;}



#seccion-categoria{
width:51%;}
#box-aside-cover{
width:40%;}
.articles-categoria{width:98%;}

 .img-box img{
  height:190px;
 }
 
 .subtitulos-seccion-catego{font-size:1.8em;}
 .btn-mas2{width:50%;}

 
#box-img-item{
width:40%;
margin-left:5%;
margin-right:5%;

}
.box-descrip{
width:45%;
margin-right:5%;
}
}


@media only screen  and (max-width :480px)

 {
	 
#myCarousel{display:none;}

#about-title{margin-top:50px;
font-size:2.0em;}


.head_movil a{
width:45%;
}
.sb-slidebar {
width:64%;
}


.box-servicios-all{
	width:80%;
	margin-left:10%;
	padding:0%;
	margin-right:0px;
	height:auto;
	
}
.box-servicios-all img{
margin-left:33%;
}

.box-tsection{height:65px;}
#bol{margin-left:42%;}

.box-index-articulos{
width:80%;
margin-left:10%;
margin-top:15px;
margin-bottom:25px;}

.btn-mas{width:47%;}

.img-redes-pie{right:30%;padding:10px;
width:40px;
height:40px;}
#bol{margin-left:39%;}
.box-pie{width:78%;
	margin-left:10%;}

 #servicios-foot{display:none;}

/*----SERVICIOSS----*/
.box-nombre-seccion{
margin-top:50px;
}
#titulo-form, .subtitulos-seccion, .subtitulos-seccion-2{
font-size:2.6em;}

.box-servicios{
width:80%; 
padding:0%;
height:auto;
margin-left:10%;
margin-top:40px;
left:0%;
}

.icono-services-services
{left:29%;}


.box-portafolio h5{font-size:.8em;
}
/*PORTAFOLIO*/
.subtitulos-seccion-2
{font-size:2.3em;}

.box-portafolio{width:80%;
margin-left:10%;}

.p-intro2{font-size:.9em;
font-weight:400;}
/*CONTACTO*/

.cover-info-con{margin-bottom:0px;}
#box-mapa{margin-bottom:40px;}
#box-mapa iframe{height:130px;}
.box-infor{
width:60%;
margin-left:20%;
margin-top:20px;}

#box-form-contac{margin-top:50px;}


.cover-inputs-contacto
{width:100%;
margin-left:0px;
}


#btn-contact{width:60%;}

#mensaje-contacto
{height:100px;
margin-left:0px;
width:90%;}

/*----TIENDA-----*/
.box-circle-catego{left:2%;}

#seccion-categoria,#box-aside-cover{
width:70%;
margin-left:15%;
margin-right:15%;}
 .img-box img{
  height:160px;
 }
 
 .subtitulos-seccion-catego{font-size:1.5em;}

.btn-mas2{width:45%;}

#box-img-item,.box-descrip{
width:80%;
margin-right:10%;
}

}
@media only screen  and (max-width :360px) {
	

.head_movil a{
width:65%;
}
.sb-slidebar {
width:74%;
}

.wrapper  #menu-nav li, #wrap-index #menu-nav li {

height:70px;

}
.logo-movil{
margin-right:0%;
}


 .wrapper  #menu-nav a ,#wrap-index #menu-nav a{
height:45px;
 padding-top:25px;}
 
 
 #about-title{
font-size:1.8em;}

 .box-servicios-all{
margin-top:20px;
margin-bottom:20px;
	
}
.box-servicios-all img{
margin-left:29%;
width:40%;
}
 .titu-section{
	 font-size:1.5em;
 }
 
 #box-cover-servicios{margin-top:-10px;}

 .btn-mas{width:60%;
 }

 
 .titulos-pie{font-size:1.1em;}
 
 .img-redes-pie
{
right:29%;
padding:10px;
width:30px;
height:30px;
}
 
 
#bol{margin-left:38%;}
 
 /*---servicios---*/

 .box-servicios{margin-top:10px;}
 .icono-services-services
{

left:22%;}

/*-----------PORTAFOLIO----------*/
.subtitulos-seccion-2
{font-size:1.6em;}

.box-portafolio h5{display:none;}
.wrapper .grid figcaption a{bottom:4px;left:20%;}

#box-nombre-portafolio{
padding-bottom:40px;}

#titulo-form {font-size:2.0em;}
#btn-contact{width:99%;
height:60px;}


/*----TIENDA-----*/
.box-circle-catego{left:14%;}

.box-art-categorias{
width:90%;
margin-left:5%;
}
#seccion-categoria,#box-aside-cover{
width:90%;
margin-left:5%;
margin-right:5%;}
.btn-mas2{width:50%;}
}



@media only screen  and (max-width :320px) {
	
	.img-redes-pie{right:33%;}
	/*----TIENDA-----*/
.box-circle-catego{left:10%;}
	
}

@media only screen  and (max-width :240px) {


	}