@media only screen  and (max-width : 1366px){



}
@media only screen  and (max-width :1024px) {
#menubar_navigation{width:90%;
margin-left:5%;
margin-right:5%;
margin-bottom:30px;}




body .name-menu
{font-size:1.4em;}

/*-----MANAGE----*/
.buttons_top_manage{width:31%;}
#table_holder{margin-top:15px;}
/*----CONFIG-----*/
#config_wrapper #required_fields_message{margin-bottom:30px; }

#add_item_form label {width:22%;}
/*-RESULTADOS ENTRADAS Y SALIDAS--*/
#box-delete-proverdor span{
display:block;
width:100%;}
.casilla_head_report, .casilla_head_report_b{font-size:1.0em;}

}


@media only screen  and (max-width :768px) {
	
#menubar_navigation{width:70%;
margin-left:13%;
margin-right:0%;}
.menu_item
{width:18%;}
.module_item{height:220px;}

#a-name-catego{margin-top:-20px;}

.module_item  a img{width:100px;}

#menubar_date, #menubar_footer 
{font-size:1.0em;width:40%;}
#h3bienvenido{font-size:3.0em;}

/*-----MANAGE----*/
.buttons_top_manage{width:40%;}
#boton-excel img{display:none;}
#box-buscar{width:50%;}
#box-buscar img{width:20px;
margin-top:12px; }

#box_cant_cobros{width:30%;}

#btn-barcode-buscar{width:25%;background-color:#e8ebf1;
}
#titleTextImg{width:35%;}#search_filter_section{width:60%;}

#table_action_header  #btn-barcode-buscar:hover{
background-color:#e8ebf1;
}
#table_action_header #btn-barcode-buscar a:hover{
color:#04a0b5;
}
#table_action_header #btn-barcode-buscar a {
color:#9b9b9b; font-size:1.3em;}

.titulos-tablas, .titulos-tablas-b, .titulos-tablas-c,.titulos-tablas-d, .titulos-tablas-e, .titulos-tablas-f,
.casillas-resultados-tablas, .casillas-resultados-tablas-b,
.casillas-resultados-tablas-c, .casillas-resultados-tablas-d, .casillas-resultados-tablas-e, .casillas-resultados-tablas-f,.titulos-tablas-v,.casillas-resultados-tablas-v
{font-size:.9em;}

/*MANAGE XTRAS*/
#box-buscar-cliente-servicios{
margin-top:6px;
width:96%; margin-left:4%;}

/*REPORTS*/
.box-li-report{
height:350px;}

.box-li-report li{
width:80%;
margin-left:12%;

}
/*SALIDAS*/

#register_wrapper{width:89%;
margin-left:5%;
margin-right:5%;
left:0px;
margin-top:20px;}

#overall_sale{width:90%;
margin-left:5%;
margin-right:5%;
left:0px;
margin-top:20px;}

#add_item_form label{width:22%;}

/*----CONFIG-----*/

#leg_conf{ width:100%;
}
#config_info{width:80%;
margin-left:10%;
}
/*-----CALENDAR PEDIDOS-----*/
body #icono-calendar-pedidos img, body #icono-calendar-pedidos2 img{margin-top:5px;}
/*-----------REPORTS2----------*/
#box_cover_reports{
	width:90%;
	margin-left:0%;
	padding:5%;}
	
#box_cover_reports
.box-inputs-rep,.box-inputs-rep2
{
	margin-top:10px;
	width:70%;
	margin-left:23%;
	margin-bottom:20px;}
	.box-inputs-rep2
{
margin-top:0px;}
#page_title{height:auto;}

.box_result_table_reports, .box_head_reports_table{
border-width:1px 0px 1px 0px;
border-style:solid;
border-color:#d9dfed;
width:49.5%;}


.casilla_head_report, .casilla_head_report_b, 
.casilla_result_report, .casilla_result_report_b{padding-left:8%;text-align:left;width:92%;}

.casilla_head_report, .casilla_head_report_b{border-left:1px solid #d9dfed;border-right:1px solid #d9dfed;}
.casilla_result_report, .casilla_result_report_b{border-right:1px solid #d9dfed;}



}

@media only screen  and (max-width :640px) {
body .name-menu{margin-left:43%;}


.menu_item
{width:17.5%;}


#h3bienvenido{font-size:2.6em;}
	
	
.module_item
{
width:40%;
height:190px;
margin-left:2%;
left:6%;
}
.ir-arriba{bottom:100px;}

/*-----MANAGE----*/
.buttons_top_manage{width:44%;
}
#title{text-align:center;
font-size:2.3em;
margin-bottom:15px;}

#title,#cover_buttons_top_manage
{width:98%;}

.buttons_top_manage{width:40%;
left:0%;
margin-right:3%;}

#box-buscar{width:90%;
margin-left:5%;}

#btn-borrar-buscar, #btn-mail-buscar, #btn-editar-buscar, #btn-barcode-buscar{
margin-right:10px;
left:10%;}

#box_cant_cobros{width:55%;margin-left:45px;}

.cover-header-tablas
{display:none;}
.soloVisibleResponsivamente{text-align:left;display:block;}

#titleTextImg,#search_filter_section{width:99%;}

#table_holder{width:100%;margin-top:7px;
}


.base-casillas{height:auto;
border-top:3px solid #025476;}

.casillas-resultados-tablas, .casillas-resultados-tablas-b,
.casillas-resultados-tablas-c, .casillas-resultados-tablas-d, .casillas-resultados-tablas-e, .casillas-resultados-tablas-f,.casillas-resultados-tablas-v
{width:99.7%;
height:20px;
padding-top:5px;
padding-bottom:5px;}

.name-item-dispositivos{color:#025476;
font-weight:500;
font-size:1.0em;}

#titulo-tablas-dispo{position:absolute;
display:block;
height:auto;
width:100%;
text-align:center;
padding-top:20px;
padding-bottom:10px;
font-size:'Raleway',sans serif;
font-size:2.2em;
color:gray;
top:400px;
z-index:1200;
}
/*MANAGE XTRAS*/
#box-buscar-cliente-servicios{
width:59%; margin-left:10%;}

/*REPORTS*/

.box-li-report{
width:100%;
margin-left:1%;
height:auto;
top:30px;
margin-bottom:0px;}

.box-li-report li{margin-left:20%;}
/*SALIDAS*/

#register_wrapper{width:98%;
margin-left:0%;
margin-right:0%;
}

#overall_sale{width:100%;
margin-left:0%;
margin-right:0%;
}
.filas-items-reg{font-size.9em;}

/*----------CONFIG--------------*/

#config_info{width:90%;
margin-left:5%;
}
/*-----------REPORTS2----------*/

#box_cover_reports
.box-inputs-rep,.box-inputs-rep2
{
	width:95%;
	margin-left:3%;}
#report_date_range_simple select, #report_sale_type select, #report_specific_input_data select{width:100%;}
	
#report_date_range_complex select{width:31%;}
body #generate_report{
width:50%;}
#line-fecha{width:100%;
text-align:center;}


}
@media only screen  and (max-width :480px){
	
#box-ico-menu{margin-top:15px;}
body .name-menu{margin-left:40%;}
#menubar_navigation{width:80%;
margin-left:8%;margin-top:16px;}
.menu_item
{width:20%; margin-left:3%;}
.module_item
{

height:210;

}
/*MANAGE XTRAS*/
#box-buscar-cliente-servicios{
width:78%; margin-left:12%;}
/*REPORTS*/

.box-li-report{top:0px;}

/*SALIDAS*/
#register_wrapper{width:96%;}
#mode_form  span, #add_item_form label
{width:90%;}
#mode_form  select{width:95%;}
#add_item_form input{width:88%;}
#cover_btn_new_art_entradas, #cover_btn_new_ctas_cre{
width:95%;
margin-left:2.5%;
margin-bottom:10px;}

#btn_new_art_entradas,
#btn_new_ctas_cre{
margin-top:-1px;
width:100%;	
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}


#page_title2, #page_title{margin-top:-20px;
font-size:2.0em;}
/*------------LOGIN--------*/
#container{width:90%; }
#login_form{font-size:.8em;}
#logoing{
width:40%;}


/*-RESULTADOS ENTRADAS Y SALIDAS--*/
#filas-head-r{
position:relative;
float:left;
width:100%;
padding:1% 0% 0% 0%;
height:auto;
border-left:1px solid #d9dfed;
text-align:center;

font-family:'Roboto', sans-serif;
color:#000;
font-size:1.3em;
font-weight:bold;
display:block;
}
#filas-head{display:none;}
.soloVisibleResponsivamenteT{height:40px;display:block;padding-top:10px;
padding-bottom:6px;
}

.filas-items-reg, #name-reg_r, #name-reg{padding-top:10px;
padding-bottom:6px;
height:40px;width:100%;border-bottom:1px solid #d9dfed;
}
.filas-items-reg-o, #name-reg_r, #name-reg{padding-top:10px;
padding-bottom:6px;
height:40px;width:100%;border-bottom:1px solid #d9dfed;
}
.filas-items-reg-c, #name-reg_r, #name-reg{padding-top:10px;
padding-bottom:6px;
height:40px;width:100%;border-bottom:1px solid #d9dfed;
}
body .filas-items-reg span{
display:block;
color:#5fa4c7;
font-size:1.1em;
width:100%;
text-align:center;}


body .filas-items-reg input{
margin-top:5px;width:60%;margin-left:18%; text-align:center;}
}
body .filas-items-reg-c input{
margin-top:5px;width:60%;margin-left:18%; text-align:center;}
}

@media only screen  and (max-width :360px) {
#menubar_navigation{
margin-left:10%;}	
body .name-menu{margin-left:37%;}

#menubar_navigation{
margin-left:8%;}

.menu_item
{width:27%; margin-left:2%;
margin-right:2%;}

#menubar_date, #menubar_footer 
{width:48%;}
#menubar_date
{font-size:.8em;}
#menubar_footer 
{font-size:1.em;}

#h3bienvenido{font-size:2.2em;}
	
.module_item
{
width:60%;
height:190px;
left:18%;
}
.ir-arriba{bottom:120px;}


/*MANAGE-------*/

.buttons_top_manage{width:80%;
margin-right:5%;
margin-top:10px;
}
#boton-excel img{display:block;}
#btn-barcode-buscar{width:38%}
#table_holder{margin-top:15px;}
#box_cant_cobros{margin-left:38px;}

/*MANAGE XTRA-------*/

#box-buscar-cliente-servicios form{width:100%;}
#box-btn-cli-ser {width:100%;
margin-top:-25px;
margin-bottom:40px;}

}