
.banner-slide{
	position:relative;
	width: 100%;
	top:0px;
	left:-10px;
	
	height: 400px;
	margin: 0 auto;
	float:left;
	z-index:1;
}
.banner-slide-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.banner-slide-big{position:relative;
top:-6px;
left:10px;
	height:400px;
	/*tamaño de la imagen 1024x400*/
	width:1024px;
	overflow: hidden;
	margin-bottom:-6px;
	
}
.banner-slide-big li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.banner-slide-big li img{
	width: 100%;
}
.titulos{
	position: absolute;
	right: 50%;
	margin-right: 13%;
	top: 30%;
}
.titulos h2, .titulos h3{
	text-align: right;
}
.titulos h2{
	font-size: 40px;
	line-height: 50px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #b5b5b5;
}
.titulos h3{
	font-size: 70px;
	line-height: 70px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #000;
}
.banner-slide-thumbs{
	height: 13px;
	margin: 0 auto;
	position: relative;
}
.banner-slide-thumbs li{
	position: relative;
	float: left;
	height: 100%;
}
.banner-slide-thumbs li.banner-slide-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.banner-slide-thumbs li a{
	display: block;
	text-indent: -9000px;
	background:#838484;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.banner-slide-thumbs li a:hover{
	background-color: #f0f0f0;
}
.banner-slide-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.banner-slide-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
	.titulos{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.titulos h2, .titulos h3{
		text-align: center;
	}
	.titulos h2{
		font-size: 20px;
		line-height: 24px;
	}
	.titulos h3{
		font-size: 30px;
		line-height: 40px;
	}
}