#header
{
	position:  absolute;
        margin:0px;
	padding:0px;
	background-image: url("../images/front/logo_brontobyte.jpg"); 
	background-repeat:no-repeat;
        background-position:10% 20%;
        background-color: #FFF;
	top :0px;
	left :0px;
	width:100%;
	height:155px;
	color:#FFFFFF;
       z-index: 0;
	
}
#top_banner
{
	position:  absolute;
        background-color: #FFF;
        background-image: url("../images/front/compras.png");
        background-repeat:no-repeat;
        text-align: right;
	top :50px;
	left :72%;
	width:105px;
	height:50px;
	color:#FFF;
        z-index:1; 
	
}
#left
{
    position:  absolute;
    top :120px;
    left :0px;
    background-color: #ccc;
    width: 200px;
    height: 500px;
    font-size: 15px;
    font-family:arial;
    
}
#botones
{
    position:  absolute;
    top: 20px;
    left: 300px;
    background-color: #fff;
    width: 100%;
    
}


#header ul{
   
   
   margin: 100px 10px 10px 10px;
   
   
} 
#header li{
   display: inline;
   text-align: right;
   
   
} 
#header li a {
   padding-left: 5px;
   padding-right: 70px;
   color: #434343;
   background-color: #cccccc;
   font-size: 15px;
   font-family:arial;
   background-image: url("../images/front/orange_arrow.png");
   background-repeat: no-repeat;
   background-position: 95% 50%; 
   
   text-decoration: none;
   border-style:solid; 
   border-width:2px;
   border-color: #999999;
   
} 

#header li a:hover{
   background-color: #434343;
   color: #ffffff;

   
}