

/*borrrar despues AQUI BOTONES DE ITEMS Y MAS CAFESSSSSSSSSSSSSSS*/
.small_button
{
	position:relative;
	width:90%;
	height:30px;
	cursor:pointer;
    font-family: arial;
    color: #000;
	background-color:#f58b00;
}

.small_button span
{position:absolute;
	width:100%;
	top:6px;
	left:0%;
	color:#FFF;
	font-size:.9em;
	font-weight:bold;
	text-align:center;
}
.small_button:hover
{
	background-color:#f99b1f;
	color:gray;}
	
       
}
.small_button span:hover{
color:gray;}



.small_button_customer
{
	position:relative;
	width:95px;
	height:30px;
	
	background-repeat:no-repeat;
        background-position:  inherit;
        text-align: center;
        font-family: arial;
        color: #fff;
        font-size: 12px;
        border:black 1px solid;
}
.small_button_customer:hover
{
	position:relative;
	width:95px;
	height:30px;
	background-repeat:no-repeat;
        background-position:  inherit;
        text-align: center;
        font-family: arial;
        color: #000;
        font-size: 12px;
}
.small_button_payment
{
	position:relative;
	width:95px;
	height:30px;
	background-repeat:no-repeat;
        background-position:  inherit;
        text-align: center;
        font-family: arial;
        color: #fff;
        font-size: 12px;
        border:black 1px solid;
}
.small_button_payment:hover
{
	position:relative;
	width:95px;
	height:30px;
	background-repeat:no-repeat;
        background-position:  inherit;
        text-align: center;
        font-family: arial;
        color: #000;
        font-size: 12px;
}
.small_button_cancel
{
	position:relative;
	width:95px;
	height:30px;
	background-repeat:no-repeat;
        background-position:  inherit;
        text-align: center;
        font-family: arial;
        color: #fff;
        font-size: 12px;
        border:black 1px solid;
}
.small_button_cancel:hover
{
	position:relative;
	width:95px;
	height:30px;
	
	background-repeat:no-repeat;
        background-position:  inherit;
        text-align: center;
        font-family: arial;
        color: #000;
        font-size: 12px;
}


.float_left_texto
{
	float:left;
        font-size: 15px;
}


/*-----------MENSAJES AVISOOS---------------*/
.warning_mesage{
	
	position:relative;
	float:left;
	width:100%;
	height:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	background-color:#fffcdd;
	border:1px solid #fff4aa;
	font-size:1.3em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	margin-bottom:10px;
	
}
.error_message
{position:relative;
	float:left;
	width:100%;
	height:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	background-color:#ffeaea;
	border:1px solid #ff7474;
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	margin-bottom:10px;
	
}



.warning_message
{	position:relative;
	float:left;
	width:55%;
	height:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	background-color:#fffcdd;
	border:1px solid #fff4aa;
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	margin-bottom:10px;
	left:3%;
	
}


.success_message
{
	width:100%;
	height:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	background-color:#e1ffdd;
	border:1px solid #2ca71c;

}



.clearfix:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix { height: 1%; }
