


#box-ico-menu{position:relative;
float:right;
width:100%;}

body .name-menu
{position:relative;
float:left;
font-family:'Roboto', sans-serif;
margin-left:48%;
font-size:1.4em;
color:#fff;
}
body .flecha-leer{
position:relative;
float:left;
margin-left:1%;
}

#menubar
{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	float:left;
	/*
	background-color:#63cabc, #025476;;
	rgba(1, 138, 163, .9)*/
	
	text-align:left;
	text-align:center;
	z-index:20;
	margin-top:0px;
	margin-bottom:60px;

}


#accordion
{	position:relative;
	float:left;
	width:100%;
	margin:0px;
	padding:0px;}

	
	
body #accordion .accordion-heading 
{position:relative;
float:left;
width:100%;
border-bottom:1px solid #069cb7;
background-color:#025476;
display:block;}

body #accordion .accordion-heading .accordion-toggle{
position:relative;
float:left;
width:100%;
padding:0px;
text-decoration:none;
border:0px;
height:auto;
padding-top:30px;
padding-bottom:30px;
}



.accordion-body {position:relative;
float:left;
width:100%;}

#accordion .accordion-inner{
position:relative;
float:left;
width:100%;
border-top:0px;}

.accordion-body {border:0px;}

#accordion .accordion-group {
position:relative;
float:left;
width:100%;
 margin-bottom: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	background-color:#018aa3;}
		  


.menu_item
{
	position:relative;
	float:left;
	width:9%;
	margin-left:1%;
	margin-right:1%;
	margin-top:15px;
	text-align:center;
	height:auto;
	margin-bottom:25px;
    color: #000;
     
}



/*estilo iconos-menu by sue*/
.menu_item img{
position:relative;
float:left;
width:80%;
margin-left:7%;
height:auto;
border:2px dashed white;
border-radius:100%;

}
.menu_item img:hover{
border:2px dashed #027989;
}



body #text-menu-a
{
	position:relative;
	float:left;
	width:100%;
	color:#fff;
	text-align:center;
	margin-top:10px;
	border:none;
	font-size:1.3em;

}

.menu_item a:hover{border:0px;}




/*--------------DATOS  TOP-------------------------*/
#menubar_company_info
{
	position:absolute;
	margin-left:1%;
	top:18px;
	width:26%;
	height:auto;
	display:none;
}


#logo-head{
margin-top:30px;
float:left;
width:250px;
height:auto;}



#company_title
{
	font-size:14pt;
	font-weight:bold;
}

#menubar_navigation
{
	position:relative;
	float:left;
	width:80%;
	margin-left:9%;
	margin-top:30px;
	height:auto;
	margin-bottom:50px;
       
}





#menubar_footer
{
position:absolute;
margin-top:7px;
right:5%;
height:30px;
width:27%;
display:block;
color:#fff;
font-weight:400;
 font-family:'Roboto', sans-serif;
 font-size:1.4em;
 text-align:right;
 border:0px;
 letter-spacing:.2px;
}

#menubar_footer a{
color:#18bdd3;
border:0px;
 font-size:.9em;
}

#menubar_date
{
	position:absolute;
	left:5%;
	height:30px;
	width:10%;
	padding-top:0px;
	margin-top:7px;
	font-size:1.1em;
	font-weight:400;
    font-family:'Roboto', sans-serif;
    color:#fff;
       
}



/*------------------FOOTER STYLE---------------------*/

footer{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	z-index:2000;}
	

#box-footer{
	position:relative;
	float:left;
	width:96%;
	height:auto;
	padding:40px 2% 40px 2%;
	background-color:#2a2f30;
}
.pie-copy{
position:relative;
float:left;
margin-left:10%;
display:block;
text-align:left;
font-weight:100;
font-family:'Roboto', sans-serif;
font-size:1.3em;
color:#898989;
}

.pie-copy a{
text-decoration:none;
font-family:'Roboto', sans-serif;
font-size:1.0em;
color:#898989;
border:0px;

}
.pie-copy a:hover{
border:0px;
color:#025476;
}

.ir-arriba{
	display:none;
	height:30px;
	text-align:center;
	width:45px;
	border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
padding-top:15px;
	background-color:#025476;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:25px;
	right:15px;
	z-index:2000;
	font-weight:600;
	font-family:'Cabin', sans-serif;
	text-transform: none;
	font-size:2.0em;

	}