tr{     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

#register_wrapper
{
position:relative;
height:auto;
	float:left;
	width:65%;
	font-family:'Roboto', sans-serif;
	font-size:12px;
	border:7px solid #d9dfed;
    border-radius:20px;
	-moz-border-radius:20px;
-webkit-border-radius:20px;
}
.oculta
{
	display:none;
	
	
}
#comment
{
	display:none;
}
.comment
{
	display:none;
}
#boxs-cover-recibida
{display:none;
background-color:#f7f7f7;}
#boxs-cover-pago
{display:none;
background-color:#f7f7f7;}
#boxs-cover-cambio
{display:none;
background-color:#f7f7f7;}
#boxs-cover-restante
{display:none;
background-color:#f7f7f7;}
#mas
{
	position:relative;
	float:right;
	width:30px;
	height:30px;
	background-image:url("../images/menubar/mas.png");
	background-repeat:no-repeat;
	border:0;
	outline:none;
	padding:0px;
	margin:10px;
	
	top:-18px;
}
#mode_form
{
	position:relative;
	float:left;
	margin-top:11px;
	padding: 8px 0px 8px 0px;
	height:auto;
	width:47%;
	
	margin:0px;

}
#cancel_sale_form
{
	position:relative;
	float:left;
	margin-top:11px;
	padding: 8px 0px 8px 0px;
	height:auto;
	width:50%;
	
	margin:0px;

}

/*DISEÑO FORM PEDIDOSSSS*/
#mode_form_div, #add_item_form

{
	position:relative;
	float:left;
	margin-top:-11px;
	padding: 8px 0px 8px 0px;
	height:auto;
	width:100%;
	border-bottom:1px solid #d9dfed;
	margin:0px;
}

#mode_form_span  , #add_item_form label{

position:relative;
float:left;	
font-family: 'Roboto', sans-serif;
font-size:1.1em;
color:#000;
margin-top:11px;
margin-left:4%;
display:block;
width:auto;}


#mode_form  select{
 	position:relative;
	width:55%;
 	float:left;
	margin-top:0px;
	margin-left:10px;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 10px  ;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;}




#add_item_form input

{ 	position:relative;
	width:90%;
 	float:left;
	margin-top:0px;
	margin-left:10px;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 12px  ;
	border-radius:5px;
	-moz-border-radius:5px;
-webkit-border-radius:5px;
 	
}
 

.btn_ok
{
	position:relative;
	float:left;

	height:40px;
	margin-top:0px;
	cursor:pointer;
		font-size:1.0em;
	font-weight:400;
	text-align:center;
	font-family:'Cabin', sans serif;
    color: #FFF;
	background-color:#fb5d5d;
	border-radius:20px;
	-moz-border-radius:20px;
-webkit-border-radius:20px;
}

.btn_cancel
{
	position:relative;
	float:left;

	height:40px;
	margin-top:0px;
	cursor:pointer;
		font-size:1.0em;
	font-weight:400;
	text-align:center;
	font-family:'Cabin', sans serif;
    color: #FFF;
	background-color:#fb5d5d;
	border-radius:20px;
	-moz-border-radius:20px;
-webkit-border-radius:20px;
}
.btn_pausar
{
	position:relative;
	float:left;
	width:47%;
	height:40px;
	margin-top:11px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	font-size:.9em;
    color: #ff7474;
	background-color:#ffeaea;
	border:1px solid #ff7474;
	border-radius:2px;
	-moz-border-radius:2px;
-webkit-border-radius:2px;
margin-left:2%;
margin-bottom:20px;
}
.btn_corregir
{
	
	position:relative;
	float:left;
	width:47%;
	height:40px;
	margin-top:11px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	font-size:.9em;
    color: #ff7474;
	background-color:#ffeaea;
	border:1px solid #ff7474;
	border-radius:2px;
	-moz-border-radius:2px;
-webkit-border-radius:2px;
margin-left:2%;
margin-bottom:20px;
}
.btn_ok span{
	position:relative;
	float:left;
	width:99%;
	padding-top:11px;
	height:auto;

	
	
}
.btn_cancel span{
	position:relative;
	float:left;
	width:99%;
	padding-top:11px;
	height:auto;

	
	
}
.btn_pausar span{
	position:relative;
	float:left;
	width:99%;
	text-align:center;
	padding-top:11px;
	height:30px;

	
	
}
.btn_corregir span{
	position:relative;
	float:left;
	width:99%;
	text-align:center;
	padding-top:11px;
	height:30px;

	
	
}
#edit_item
{
	display:none;
}
#btn_new_art_entradas:hover{background-color:#e55151;}


#cover_btn_new_art_entradas, #cover_btn_new_ctas_cre
{
	position:relative;
	width:25%;
	float:left;
	margin:0px 40px 0px 40px;
	height:auto;
	
	
	
	
	
}


#btn_new_art_entradas,
#btn_new_ctas_cre{
width:180%;
background-color:#fb5d5d;
font-size:1.1em;



}

/*total area*/
#cover_register
{
	position:relative;
	width:100%;
	padding:0px;
	height:auto;
		
}

#filas-head{
position:relative;
float:left;
width:100%;
height:auto;
clear:both;
border-top:1px solid #d9dfed;
border-bottom:1px solid #d9dfed;


}

#filas-head-r{display:none;}
.soloVisibleResponsivamente2{
position:relative;
float:left;
width:30%;
border-bottom:1px solid #d9dfed;
height:35px;
padding:1.4% 0% 0% 0%;
text-align:center;
font-family:'Roboto', sans-serif;
font-size:1.0em;
color:#000;
font-weight:400;
display:none;

}


 #item-name_r, #name-reg_r
{width:42%; 
padding:1% 2.6% 0% 0%;}

 #item-name, #name-reg
{width:42%; 
padding:1% 2.6% 1% 0%;}


.cover_descrip_item{
position:relative;
float:left;
width:90%;
padding-left:5%;
padding-right:5%;
height:auto;
background-color:#e8ebf1;
border-bottom:1px solid #d9dfed;
border-left:1px solid #d9dfed;

}
.word_descr{
position:relative;
float:left;
font-family:'Roboto', sans-serif;
color:#000;
font-size:1.1em;	
font-weight:bold;
margin-left:3%;
display:block;
margin-top:10px;

}


.description_item_txt{
position:relative;
float:left;
font-family:'Roboto', sans-serif;
color:gray;
font-size:1.0em;	
display:block;
margin-left:1%;
margin-top:10px;}

.head-filas{
position:relative;
float:left;
width:13%;
padding:1% 2.6% 1% 0%;
height:36px;
border-left:1px solid #d9dfed;
text-align:center;

font-family:'Roboto', sans-serif;
color:#000;
font-size:1.1em;
font-weight:bold;

}
.head-filas-c{
position:relative;
float:left;
width:7%;
padding:1% 2.6% 1% 0%;
height:36px;
border-left:1px solid #d9dfed;
text-align:center;
float:left;
font-family:'Roboto', sans-serif;
color:#000;
font-size:1.1em;
font-weight:bold;

}
.head-filas-o{
position:relative;
float:right;
width:11%;
padding:1% 2.6% 1% 0%;
height:36px;
border-left:1px solid #d9dfed;
text-align:center;

font-family:'Roboto', sans-serif;
color:#000;
font-size:1.1em;
font-weight:bold;

}

.head-filas submit{display:block;

}

#filas-contenido{
position:relative;
float:left;
clear:both;
width:100%;
height:auto;
border-bottom:1px solid #d9dfed;
}


.filas-items-reg{
position:relative;
float:left;
width:13%;
padding:1% 2.6% 0% 0%;
height:35px;
border-left:1px solid #d9dfed;
border-bottom:1px solid #d9dfed;
text-align:center;
font-size:1.1em;
font-family:'Roboto', sans-serif;


}
.filas-items-reg-c{
position:relative;
float:left;
width:7%;
padding:1% 2.6% 0% 0%;
height:35px;
border-left:1px solid #d9dfed;
border-bottom:1px solid #d9dfed;
text-align:center;
font-size:1.1em;
font-family:'Roboto', sans-serif;


}
.filas-items-reg span{

font-size:.9em;



}
.filas-items-reg-o a{
position:relative;
float:right;
border-left:none;
text-align:center;
color:#fb5d5d;
border:0px;
font-size:1.1em;
font-family:'Roboto', sans-serif;
}
.filas-items-reg-o
{
	position:relative;
	float:right;
	width:11%;
	padding:1% 2.6% 0% 0%;
	height:35px;
	border-left:none;
	border-bottom:1px solid #d9dfed;
	text-align:center;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	
}
.filas-items-reg a:hover{border:0px;}

.fila-edit-item{border-right:0px solid #000;}


body .filas-items-reg-c input{ 
position:relative;
float:left;
font-size:1.0em;
width:90%;
margin-left:2%;
height:20px;
font-family:'Roboto', sans-serif;
margin-top:-5px;
padding-left:6px;
}
body .filas-items-reg input{ 
position:relative;
float:left;
font-size:1.0em;
width:90%;
margin-left:2%;
height:20px;
font-family:'Roboto', sans-serif;
margin-top:-5px;
padding-left:6px;
}
/*----------INICIA EL OVERALL_SALE------------PARA TERMINAR LA VENTA*/
/*----------INICIA EL OVERALL_SALE------------PARA TERMINAR LA VENTA*/

#warning_message_reg{width:90%; margin-left:2%;}
#overall_sale
{
	float:right;
	width:31%;
	font-family:Arial;
	font-size:15px;
    background-color:#e8ebf1;
	padding-bottom:40px;
	margin-bottom:120px;
	
}

.cover_overall_process, .descw
{
	position:relative;
	width:95%;
	float:left;
	height:auto;
	margin-left:2.5%;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:20px;
	
}
.cover_overall_process_1
{
	position:relative;
	width:95%;
	float:left;
	height:auto;
	margin-left:2.5%;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:20px;
}
.cover_overall_process_2
{
	display:none;
	position:relative;
	width:95%;
	float:left;
	height:auto;
	margin-left:2.5%;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:20px;
}
.overall_label{position:relative;
float:left;
width:97%;
font-size:1.0em;
display:block;
text-align:center;
margin-top:20px;
margin-bottom:8px;
color:gray;
font-family:'Roboto', sans-serif;
} 

body #overall_sale #input_empieza{
	position:relative;
	width:88%;
	margin-left:4%;
 	float:left;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 2% ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
}

#box-delete-proverdor{position:relative;
	width:90%;
	padding-left:3%;
	padding-right:5%;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1.0em;
	font-family:'Roboto', sans-serif;
	color:#000;
	margin-left:10px;
	margin-top:2px;}


	
#box-delete-proverdor a

{
	position:absolute;
	right:0%;
	width:auto;
	font-size:.8em;
	font-family:verdana;
	color:#00717a;
	padding-right:20px;
	border:0px;
	margin-top:2px;}

	


#sale_details{
padding-top:20px;
padding-bottom:20px;
border:0px;}

#box-or-btn{margin-top:0px;
padding-top:0px;border-bottom:1px solid gray;}

#btn_new_proveedor_entradas, 
#btn_new_cliente{
width:50%;
margin-left:24%;
background-color:#9dc12f;
font-size:1.0em;
/*3ec16d*/
margin-bottom:10px;}

#btn_new_proveedor_entradas:hover{
	background-color:#95af28;}

#btn_new_proveedor_entradas, 
#btn_new_cliente{font-size:1.0em;}

#or{	
position:relative;
width:100%;
text-align:center;
float:left;
margin-bottom:5px;}


.boxs-cover-sub-and-total{
position:relative;
float:left;
width:93%;
margin-left:3%;
padding-top:14px;
padding-bottom:14px;
border-bottom:1px dashed #56c186;}

#boxs-cover-total{background-color:#f7f7f7;}

.price-total{
	position:relative;
	float:left;
	font-family:'Roboto', sans-serif;
	width:auto;
	margin-left:2%;
	font-size:1.3em;
text-align:right;
font-weight:500;
	}
.price-subtotal
{
	position:relative;
	float:left;
	font-family:'Roboto', sans-serif;
	width:auto;
	margin-left:0%;
	font-size:1.0em;
text-align:right;
	}
	
.subtotal_total
{
position:relative;
float:right;
margin-left:0%;
font-size:1.3em;
margin-right:2%;
font-weight:100;
font-family:'Roboto', sans-serif;}

#total_total, 
#total_cambio{
	
position:relative;
float:right;
margin-left:0%;
margin-right:2%;
font-weight:500;
font-family:'Roboto', sans-serif;
color:#0ecc64;
}

#total_cambio{
color:#000;}

/*empiexa con el textarea*/
#finish_sale, #box-pay
{
position:relative;
float:left;
width:100%;
height:auto;
color:#000;
margin-top:15px;
}


#Payment_Types
{
position:relative;
float:left;
width:100%;
padding-top:20px;
padding-bottom:20px;}




#finish_sale label{
	position:relative;
	float:left;
	width:90%;
	margin-left:2%;
	font-family:'Roboto', sans serif;
	font-size:1.0em;
	padding-top:9px;
	padding-left:15px;

}
#finish_sale textarea{
	position:relative;
	float:left;
	width:89%;
	margin-left:2%;
	height:90px;
	margin-left:4%;
	padding:5px;
	border:1px solid #d9dfed;
	margin-top:10px;
	border-radius:8px;
	-moz-border-radius:8px;
-webkit-border-radius:8px;

}


body #box-pay span{	position:relative;
	float:left;
	width:90%;
	margin-left:5%;
	margin-top:5px;
	display:block;
	font-family:'Roboto', sans serif;
	font-size:1.0em;

}
#box-pay input, #box-pay select{
	position:relative;
	float:left;
	width:100%;
display:block;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:8px;
	-moz-border-radius:8px;
-webkit-border-radius:8px;}

 #box-pay input{height:40px;width:97%;}


#finish_sale_btn, #cancel_sale_btn{
position:relative;
float:right;
margin-top:20px;
width:43%;
right:5%;
margin-right:1%;


}

#finish_sale_btn{
border:none;
border:1px solid #a4d134;
background-color:#a4d134;}


#cancel_sale_btn
{	background-color:#ffeaea;
	border:1px solid #ff7474;}
	
#cancel_sale_btn:hover{background-color:#d61e00;}
#cancel_sale_btn span{color:#ff7474;}
#cancel_sale_btn span:hover{color:#fff;}


#cover_btns_venta{position:relative;
float:left;
width:94%;
margin-left:3%;
}

.btn_ok_venta
{position:relative;
	float:left;
	width:47%;
	height:40px;
	margin-top:11px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	font-size:.9em;
    color: #ff7474;
	background-color:#ffeaea;
	border:1px solid #ff7474;
	border-radius:2px;
	-moz-border-radius:2px;
-webkit-border-radius:2px;
margin-left:2%;
margin-bottom:20px;}
.btn_complete
{
	position:relative;
	float:left;
	width:47%;
	height:40px;
	margin-top:11px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	font-size:.9em;
    color: #ff7474;
	background-color:#ffeaea;
	border:1px solid #ff7474;
	border-radius:2px;
	-moz-border-radius:2px;
-webkit-border-radius:2px;
margin-left:2%;
margin-bottom:20px;
	
}
.btn_credito
{
	position:relative;
	float:left;
	width:47%;
	height:40px;
	margin-top:11px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	font-size:.9em;
    color: #ff7474;
	background-color:#ffeaea;
	border:1px solid #ff7474;
	border-radius:2px;
	-moz-border-radius:2px;
-webkit-border-radius:2px;
margin-left:2%;
margin-bottom:20px;
	
}


.btn_ok_venta span{
	position:relative;
	float:left;
	width:99%;
	text-align:center;
	padding-top:11px;
	height:30px;

}
.btn_complete span{position:relative;
	float:left;
	width:99%;
	text-align:center;
	padding-top:11px;
	height:30px;
	
}
.btn_credito span{
	position:relative;
	float:left;
	width:99%;
	text-align:center;
	padding-top:11px;
	height:30px;

}
.btn_ok_venta span:hover{color:#fff;}
.btn_complete span:hover{color:#fff;}
.btn_credito span:hover{color:#fff;}

#btn_comple_sale_group{ color: #8fba08;
	background-color:#edf8fc;
	border:1px solid #8fba08;}
	
	
#btn_comple_sale_group:hover{
background-color:#8fba08;
}

#btn_susp_sale_group{ color: #04a0b5;
	background-color:#edf8fc;
	border:1px solid #04a0b5;}
	
#btn_cancel_sale_group:hover{
background-color:#ff7474;
	
}
	
.cover_label_input_ptypes{
	position:relative;
	float:left;
	width:100%;	
}
.cover_label_input_ptypes span
{position:relative;
	float:left;
	width:90%;
	margin-left:5%;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	font-family:'Roboto', sans serif;
	font-size:1.0em;
}

body .cover_label_input_ptypes input, .cover_label_input_ptypes select

{position:relative;
	float:left;
	width:92%; 
	display:block;
	margin-left:4%;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:8px;
	-moz-border-radius:8px;
-webkit-border-radius:8px;}
	
body .cover_label_input_ptypes input
{width:90%;}	
	
	
	

#add_payment_button{
height:55px;
background-color:#a4d134;
margin-left:5%;
  border-radius:5px;
	-moz-border-radius:5px;
-webkit-border-radius:5px;

}
#add_payment_button span{padding-top:15px;}



#small-table-pay{
position:relative;
float:left;
width:90%;
margin-left:5%;
border-width:1px 1px 1px 0px;
border-color:#d9dfed;
border-style:solid;
}
.head-table-pay, .body-table-pay
{
position:relative;
float:left;
width:100%;
}

.head-table-pay span, 
#body-table-pay span{
position:relative;
float:left;
width:30%;
padding:1.5%;
display:block;
font-family:'Roboto', sans-serif;
font-size:.9em;
color:#3a3a3a;
border-left:1px solid #d9dfed;

}
.head-table-pay span{
background-color:#fff;

}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*hasta aqui nuevo diseñoooooooooooooooooooo*/




 #show_suspended_sales_button
{
	position:relative;
	width:25%;
	float:left;
	margin:0px 0px 0px 10px;
	height:30px;

} 

#show_suspended_sales_button span{
	width:100%;
	left:0%;
	color:#FFF;
	font-size:.9em;
	font-weight:bold;
	text-align:center;
	margin-top:0spx;
	}

#customer_label
{
position:relative;
float:left;
width:97%;
font-size:1.0em;
display:block;
text-align:center;
margin-top:17px;
color:gray;

}




/*div contenedor de registro*/





#Cancel_sale
{
	float:left;
	width:100%;
	margin-top:5px;
	clear:both;
}
#suspended_sales_table th
{
	text-align:center;
}

#suspended_sales_table td
{
	padding: 7px;
}

#credit_card_form fieldset 
{
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0; 
}

#credit_card_form fieldset div 
{
	float: left; 
}

#credit_card_form fieldset.centered div 
{
	text-align: center; 
}

#credit_card_form label 
{
	display: block;
	margin-bottom: 5px; 
}

#credit_card_form input.text 
{
	border: 1px solid #bfbab4;
	margin: 0 4px 8px 0;
}









/*
.zigzag {
  position: relative;
  width: 100%;
  height: 200px;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.box-zigzag {
  background: #E2E2E2;
}
.box-zigzag:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

*/