
#welcome_message{
position:relative;
float:left;
font-family:'Raleway', sans serif;
font-size:1.9em;
color:#232222;
padding-bottom:20px;
padding-top:20px;
width:99%;
display:block;
text-align:center;
}

#contenido-report{position:relative;
float:left;
width:100%;
height:auto;
padding-bottom:90px;
}



#report_list{position:relative;
width:100%;
height:auto;
}

#box-li-rep-1{border-color:#018aa3;}
#box-li-rep-2{border-color:#01687f;}
#box-li-rep-3{border-color:#038e91;}


#box-li-rep-1 h3{background-color:#018aa3;}
#box-li-rep-2 h3{background-color:#01687f;}
#box-li-rep-3 h3{background-color:#038e91;}
.box-li-report{
position:relative;
float:left;
display:block;
width:100%;
height:260px;
float:left;
margin-left:2%;
margin-top:60px;
 margin-bottom:100px;
border:5px solid #e8ebf1;
padding:30px 2% 30px 2%;
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;


}
.box-li-report li{
	
position:relative;
float:left;
width:100%;
margin-left:10%;

}


.box-li-report h3{
position:relative;
float:left;
margin-top:-60px;
background-color:#e8ebf1;
padding-top:20px;
padding-bottom:20px;
display:block;
width:100%;
color:#000;
text-align:center;
font-family:'Cabin', sans serif;
font-size:1.4em;}


.box-li-report a{border:0px;
color:gray;
font-family:'Roboto', sans serif;
font-size:1.4em;
display:block;
margin-top:9px;
font-weight:400;
letter-spacing:.5px;
width:70%;}

.box-li-report a:hover{
color:#0ab4ce;
border:none;}


body  #box-reports-style
{position:relative;
float:left;
width:80%;
margin-left:10%;
background-color:red;
height:300px;
}










/*NUEVO ESTILO*/

#box_cover_reports{
	position:relative;
	float:left;
	width:60%;
	margin-left:15%;
	padding:5%;
	height:auto;
	margin-top:50px;
	background-color:#f5f5f7;
	margin-bottom:60px;
	
}

#box_cover_reports .submit_button{background-color:#bfc6d1;
border:0px;}
#box_cover_reports .submit_button:hover{background-color:#018aa3;}

#box_cover_reports
.box-inputs-rep{position:relative;
	float:left;
	height:auto;
	width:80%;
	margin-left:20%;
	margin-bottom:20px;}
	
.box-inputs-rep2{position:relative;
	float:left;
	height:auto;
	width:80%;
	margin-left:20%;}
	
	
#report_sale_type,
#report_date_range_simple
, #report_date_range_complex,
#report_specific_input_data,
#report_sale_type, #box-export-excel{
position:relative;
float:left;
width:99.9%;
height:auto;
}


 #complex_radio,  #simple_radio
{position:relative;
	width:10%;
	left:0px;
	margin-left:4px;
 	float:left;}

#report_date_range_simple label,#report_date_range_complex label, #report_sale_type label, #report_specific_input_data label,
#box-export-excel label{
position:relative;
float:left;
width:110px;
display:block;
font-family:'Roboto',sans-serif;
font-size:1.4em;
margin-bottom:10px;
	}
	
#report_date_range_simple select, #report_sale_type select, #report_specific_input_data select
{position:relative;
	width:50%;
 	float:left;
	height:35px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;}

#report_sale_type select, #report_specific_input_data select{width:60%;}




#report_date_range_complex span{position:relative;
float:left;
display:block;
font-family:'Roboto',sans-serif;
font-size:1.1em;
padding:6px;
color:#000;}

#report_date_range_complex select
{position:relative;
	width:14.5%;
	margin-right:5px;
 	float:left;
	height:35px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;}

#line-fecha{position:relative;
float:left;
display:block;
font-weight:bold;
font-size:2.0em;}

body #generate_report{
	position:relative;
	width:30%;
	margin-top:40px;
		border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
 	float:right;}
	
	
/*------EXCEL---------*/
 #export_excel_yes,  #export_excel_no
 {
position:relative;
width:10%;
margin-left:5px;
margin-top:6px;
float:left;}

#box-export-excel span{
position:relative;
display:block;
font-family:'Roboto',sans-serif;
font-size:1.1em;
padding:6px;
 float:left;
}





/*NUEVO ESTILO DE TABLAS DE REPORTES*/

#page_subtitle
{position:relative;
float:left;
width:100%;
text-align:center;
font-family:'Cabin',sans-serif;
font-size:1.9em;
margin-top:30px;
font-weight:bold;
padding-top:15px;
padding-bottom:15px;
}


#table_holder_report
{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-bottom:50px;
	margin-top:40px;

}

#sortable_table_report, .box_head_reports_table{position:relative;
float:left;
width:100%;
height:auto;
background-color:#fff;
}

/*OCULTAR EL DIVVVVVVVVVV------------*/
#box-oculto-report{
position:relative;
float:left;
width:100%;
height:auto;	

}


/*OCULTAR EL DIVVVVVVVVVV------------*/

#sortable_table_report, .box_head_reports_table_detail{
position:relative;
float:left;
width:100%;
height:auto;
}


.file_report_head_detail{}
.file_report_head_detail, .file_report_head{
position:relative;
float:left;
width:100%;
height:auto;
}


body .casilla_head_report_detail{font-size:.9em;background-color:#018aa3;color:#FFF;}
.casilla_head_report_detail, .casilla_head_report, .casilla_head_report_b
{position:relative;
float:left;
width:8.2%;
height:auto;
text-align:center;
font-family:'Roboto',sans-serif;
font-size:1.3em;
padding:10px 0px 6px 0px;
font-weight:500;
height:33px;
color:#196a7f;
border-bottom:1px solid #d9dfed;

}
.casilla_head_report_b{width:12%;}

/*rsult*/

.box_result_table_reports
{
position:relative;
float:left;
width:100%;
height:auto;background-color:#fff;
}
.box_result_table_reports_detail
{
position:relative;
float:left;
width:100%;
height:auto;
}

.file_report_result_detail{}
.file_report_result_detail,.file_report_result
{position:relative;
float:left;
width:100%;
height:auto;}


body .casilla_result_report_detail{font-size:.9em;background-color:#a8dee5;}
.casilla_result_report_detail,.casilla_result_report, .casilla_result_report_b{
position:relative;
float:left;
width:8.2%;
height:auto;
text-align:center;
font-family:'Roboto',sans-serif;
font-size:1.1em;
padding:10px 0px 6px 0px;
height:33px;
border-bottom:1px solid #d9dfed;
}
.casilla_result_report_b
{
width:12%;}

#report_summary
{position:relative;
float:left;
width:90%;
text-align:right;
font-family:'Roboto',sans-serif;
font-size:1.4em;
color:#025476;
}

#report_summary .summary_row

{
	position:relative;
float:left;
width:100%;
}







.report 
{
	font-size: .85em;
}


#chart_wrapper
{
	text-align: center;
}