
@media only screen  and (max-width :1280px){
/*
.wrapper{width:90%;
margin-left:5%;
}
header{background-color:red;width:90%;}
#wrap-index header{
width:80%;
margin-left:5%;}*/
}
@media only screen  and (max-width :768px){
header{height:50px;}
.contenido-secciones, .base-titulos{margin-top:60px;}
.logo-index-header{width:160px;
}
.menu-movil{display:block;
}
nav{position:absolute;
margin-top:63px;
height:auto;
border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
width:50%;
border-bottom:solid 15px #1ac1b4;
left:-100%;
background-color:rgba(0,0,0,.0);;

}

#menu-nav li{
width:100%;
height:42px;
margin:0px;
margin-top:0px;
background-color:rgba(26,193, 180,.7);
border-bottom:1px solid #80cec7;
}
#menu-nav li:hover{
background-color:rgba(0,0,0,.5);
transition:background-color .4s ease .1s;
-moz-transition:background-color .4s ease .1s;
-webkit-transition:background-color .4s ease .1s;
-o-transition:background-color .4s ease .1s;}

#menu-nav a{
margin:0px;
height:100%;
}

#menu-nav a:hover{
border-width:0px;
margin:0px;}

#myCarousel, .carousel-inner{
height:320px;}

#myCarousel img{
height:320px;
background-color:blue;
}
#wrap-index  .carousel-caption {
margin-top:180px;}
#wrap-index  .carousel-caption  .lead{
font-size:.7em;
}

#wrap-index .btn-primary{font-size:.8em;
height:16px;
padding-top:5px;}

#wrap-index .carousel-caption span{font-size:1.1em;}


#title-b{margin-top:-30px;}
.img-article{height:auto;
}
/*categorias*/
.box-art-categorias{height:280px;}
.boton-categorias{bottom:20px; height:25px;font-size:.7em;
padding-top:10px;}
.box-circle-catego{
left:1%;
width:170px;
height:170px;}
.box-circle-in{
width:157px;
height:157px;}
/*servicios*/

.circulo-icono{
width:120px;
height:120px;}

.ico-servicios{
margin-left:16%;
top:20px;
}
.box-servicios  li{font-size:.7em;
font-weight:100;}

/*pie*/
.txt-somos{margin-top:20px;}
.box-pie a, .txt-somos, #txt-contac-pie {
font-size:.7em;}

/*DETALLE ITEM*/
.titulo-item{
height:auto;}

}
@media only screen  and (max-width :640px){
#wrap-index  .carousel-caption {
margin-top:140px;}

#wrap-index  .carousel-caption  .lead{
width:70%;
}
/*categorias*/
.box-art-categorias{ height:250px;}
.boton-categorias{bottom:20px; height:25px;font-size:.7em;
padding-top:10px;}
.box-circle-catego{
left:0%;
width:145px;
height:145px;}
.box-circle-in{
width:132px;
height:132px;}

/*servicios*/
.box-servicios{
width:45%;
margin-top:15px;}

.box-servicios ul{
margin-left:-4%;
margin-top:0px;}

.box-servicios  li{
font-size:.9em;}
.circulo-icono
{left:27%;}

.h2-articulos-servicios{
width:60%;
margin-left:17%;
}

.box-portafolio{width:43%;} 
#box-mapa iframe{height:200px;}

/*LISTA DETALLE*/
 .img-box{height:280px;}
 .articles-categoria{width:47%;}
}
@media only screen  and (max-width :480px){
.wrapper{width:90%;
margin-left:5%;}
#wrap-index header, header{background-color:#000;
width:90%;
margin-left:0px;
}

.menu-movil{right:25%;}
#box-form-buscar{width:22%;}

#myCarousel{display:none;}
#title-b{margin-top:100px;border:4px solid #f5f5f5;
padding-bottom:15px;}
#box-keywords{
margin-bottom:15px;}
.li-li{font-size:.9em;}
.li-li span{font-size:.8em;}
.titu-section{font-size:1.4em;}
#url-tienda{font-size:.9em;}
.box-index-articulos{width:60%;
margin-left:20%;
margin-top:20px;}
  .subtitulos-seccion{font-size:1.1em;}
.box-art-categorias, .box-servicios{width:60%;
margin-left:20%;
height:320px;
top:40px;
margin-top:-20px;}

.box-circle-catego{width:213px;
left:2%;
height:213px;}

.box-circle-in{width:200px;
height:200px;
}

.box-servicios{width:80%;
margin-left:6%;
margin-top:30px;
top:10px;
padding-bottom:30px;
}
footer{height:auto;
padding-top:15px;}
.box-pie{display:none;
}
.titulos-pie{font-size:1.0em;
margin-left:10%;}
#pie-contacto{display:block;
width:95%;}
.img-redes-pie {float:right;
left:-2%;
}

.pie-copy{font-size:.8em;}
.circulo-icono{margin-top:20px;}


#box-form-contac, #equipo-trabajo{left:0%;
margin-left:5%;
width:94%;
top:10px;}
#titulo-form{display:block;height:40px;}

/*LISTA DETALLE*/
#aside-catego{display:none;}
#seccion-lista-catalogo{width:98%;
margin-top:25px;
}
 .articles-categoria{width:100%;}
  .img-box{height:300px;}

#box-img-item, .box-descrip{width:85%;
margin-left:8%;}
#box-img-item{top:3px;}

}

@media only screen  and (max-width :360px){
#body-index{background-color:#ccc;}
#about-b{font-size:1.1em;}
.txt-about{width:80%;
margin-left:10%;
font-size:.9em;}
.txt-about, .li-li span{color:#fff;
font-weight:100;}
.li-li{color:#026889;}
.box-portafolio{width:90%;}
#box-todo-articulos-index{padding-bottom:15px;}

#bol{margin-left:40%;}
.box-b ul{padding-bottom:10px;}
.li-li{width:72%;}
.li-img{
width:25%;}

.box-circle-catego{width:185px;
height:185px;}

.box-circle-in{width:170px;
height:170px;
}
#aside-catego{display:none;}
#seccion-lista-catalogo{width:90%;}
.box-art-categorias{width:80%;
height:280px;
margin-left:10%;}

.img-span{left:0%;}
#box-mapa iframe{height:100px;}
.box-servicios{height:auto;}

/*LISTA DETALLE*/
  .h3-subtitulo-secciones{font-size:.6em;}
 
  #box-img-item, .box-descrip{width:94%;
margin-left:2%;}
 #box-img-item,  #box-img-item img,  #section-detalle-item{margin-top:10px;
 top:0px; }
.box-izq{width:85%;
margin-bottom:7px;}


}


@media only screen  and (max-width :240px){
header{height:120px;}
.logo-index-header{margin-left:10%;top:36px;}
.menu-movil{
right:9%;
margin-top:85px;}
#box-form-buscar {position:absolute;
width:40%;
top:0px;}
#title-b{margin-top:180px;}
nav{margin-top:135px;
width:85%;}

.contenido-secciones{margin-top:130px;}

.box-b{width:90%;
top:10px;
margin-top:2px;}
.bb{margin-bottom:-60px;

} 
#ul-1 .li-li{float:right; text-align:left;}
#ul-1  .li-img{float:left;}

.box-tsection{height:100px;}
#bol{margin-left:33%;}

.pie-copy{position:absolute;
bottom:0px;
font-size:.7em;
color:#fff;

}

.img-redes-pie{
left:0px;
margin-left:1px;
margin-bottom:20px;}
.box-copy-redes{height:76px;}
#box-subtitulo-secciones{display:none;}

.subtitulos-seccion{font-size:.9em;}
#box-nombre-seccion{height:45px;}

.box-art-categorias{width:100%;
margin-left:0px;}

.box-circle-catego{width:165px;
left:2%;
height:165px;}

.box-circle-in{width:152px;
height:153px;
}
.box-servicios{margin-left:0px;
left:3px;
width:95%;
height:auto;}
.circulo-icono{left:16%;}
#box-contacto{
padding-bottom:70px;}
/*LISTA DETALLE*/


 #wrap-lista  #box-nombre-seccion{margin-top:76px;
 font-size:.9em;}

}
