@font-face {
  font-family: "Drakoheart Revofit Solid";
  src: url("../fonts/Drakoheart Revofit Solid.ttf");
}


/*-------INICIA ESTILO SECCION INDEX ---*/
/*-----------------------------------------*/

/*ESTILO BANNER INDEX*/



#wrap-index .btn-primary{
	position:relative;
	font-family:'Roboto', sans-serif;
	border: 2px solid #f3f3f3;
	border-radius:5px;
	background-color:rgba(0,0,0,.0);
	-moz-border-radius:5px;
	  background-image:none;
-webkit-border-radius:5px;
	width:20%;
	height:25px;
	padding-top:15px;
	color:#fff;
	text-align:center;
	display:block;
	font-size:1.0em;

}
#wrap-index .btn-primary:hover{
border-color:#000;
color:#000;
}

#wrap-index  .carousel-caption{
margin-top:210px;
margin-left:5%;}

#wrap-index  .carousel-caption  .lead{
font-family:'Roboto', sans-serif;
font-size:1.0em;
}

#wrap-index .carousel-caption h2

{font-family:'Roboto', sans-serif;
font-size:1.4em;
font-weight:400;
color:#fff;}


/*
  background-color: #f6bda6;
  *background-color: #f6bda6;
  background-image: -moz-linear-gradient(top, #de4d14, #f6bda6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#de4d14), to(#f6bda6));
  background-image: -webkit-linear-gradient(top, #de4d14, #f6bda6);
  background-image: -o-linear-gradient(top, #de4d14, #f6bda6);
  background-image: linear-gradient(to bottom, #de4d14, #f6bda6);
*/
}

#banner-index{
position:relative;
height:415px;
margin:0px;
/*tamaño de la imagen 1024x400*/
width:100%;
float:left;
top:0px;
margin-top:-25px;

}
/*ESTILO SERVICIOS-HOME*/
#box-cover-servicios{
position:relative;
width:80%;
height:auto;
margin-left:10%;
float:left;
margin-bottom:30px;
margin-top:30px;

} 

.box-servicios-all {position:relative;
float:left;
width:38%;
margin-left:2%;
margin-right:2%;
padding:1% 4% 1% 4%;
height:auto;
margin-top:5px;


}
 

.box-servicios-all img{
position:relative;
width:17%;
float:left;
height:auto;
margin-top:20px;


}


.box-txt-serv-home{position:relative;
float:left;
width:60%;
padding:4%;
}

.name-service-home{
position:relative;
float:left;
width:98%;
color:#29caf2;
font-family:'Raleway' , sans-serif;
font-size:1.4em;


}


.txt-servicios-home{
position:relative;
float:left;
font-family:'Roboto' , sans-serif;
font-size:.8em;
color:#bbbbbb; 
width:100%;
margin-top:10px;
}




#box-intro{
position:relative;
float:left;
width:100%;
height:auto;


}
.txt-about{
 position:relative;
 float:left;
 width:80%;
 margin-left:10%;
 text-align:center;
 display:block;
 height:auto;
 font-weight:100;
 padding:40px 0px 30px 0px;
font-family:'Roboto' , sans-serif;
font-size:1.0em;
color:#bbbbbb;
z-index:44;
 
 }
 

#about-title{
position:relative;
float:left;
font-family:'Raleway', sans-serif;
font-size:4.0em;
width:80%;
margin-left:10%;
margin-top:30px;
font-weight:300;
text-align:center;
color:#344046;
z-index:42;
}

#name-co{color:#01aeb9;}

 


/*ESTILO ARTICULOS INDEX*/
.box-tsection{position:relative;
float:left;
width:94%;
padding:3%;
height:50px;
background-color:#0e9a92;}

.titu-section

{position:relative;
width:100%;
float:left;
display:block;
color:#fff;
font-family:'Raleway' , sans-serif;
font-size:2.2em;
text-align:center;
font-weight:100;
z-index:52;}

#url-tienda{
position:relative;
float:left;
width:100%;
text-align:center;
display:block;
text-decoration:none;
font-family:'Raleway' , sans-serif;
font-size:1.0em;
color:#b8e9e6; 
z-index:51;
}

#bol{
position:absolute;
bottom:-10px;
width:60px;
height:60px;
background-color:#0e9a92;
display:block;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
margin-left:44%;
z-index:50;
}
#cover-articulos-index{
position:relative;
float:left;
padding:2%;
width:96%;
height:auto;
margin-top:20px;
z-index:20;
background-color:#fcfcfc;
padding-bottom:150px;
}

.box-index-articulos {
float:left;
position:relative;
top:0px;
width:30%;
height:auto;
margin-left:2.5%;


}

.box-img-article{
float:left;
position:relative;
width:94%;
height:auto;
border: 8px solid #f8f8f8;/*
box-shadow:inset 0px 0px 46px 0px #f3f3f3;
-webkit-box-shadow:inset 0px 0px 46px 0px #f3f3f3;
-moz-box-shadow:inset 0px 0px 46px 0px #f3f3f3;*/
}

.box-img-article a{ 
position:relative;
width:100%;
float:left;
height:auto;

}
.box-img-article  img{width:100%;
height:100%;}


.fx-url{
position:absolute;
width:100%;
height:20px;
background-color:#ed7b00;;

}


.txt-articulos-index{
position:relative;
float:left;
font-family:'Oxygen', sans-serif;
color:#000;
display:block;
width:100%;
font-size:1.0em;
font-weight:bold;
margin-top:15px;
}

.hr-art{
position:relative;
float:left;
    border: 0;
	width:40%;
	margin-right:50%;
	margin-left:3%;
    height: 1px;
	background-color:#13bfb1;
	display:block;
}
.btn-mas{
position:relative;
float:right;
margin-right:3%;
height:40px;
width:35%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
background-color:#939898;
margin-top:10px;
z-index:30;
/**

-webkit-box-shadow: inset -2px 45px 7px -45px rgba(230,230,230,1);
-moz-box-shadow: inset -2px 45px 7px -45px rgba(230,230,230,1);
box-shadow: inset -2px 45px 7px -45px rgba(230,230,230,1);

*/

}

.ico-btn{position:absolute;
top:6px;
left:0px;
z-index:32;
}
.fx-btn{
position:absolute;
background-color:#00a299;
height:100%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
top:0px;
border-style:solid;
border-color:rgba(0, 0, 0 ,.0);
border-width:0px 0px 0px 0px;
  transition: all .3s;
     -moz-transition: all .3s;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
	 width:30%;
	 z-index:31;
}
 
.btn-mas:hover .fx-btn{
width:100%;
}
.btn-mas:hover{color:#000;}


.txt-btn-mas
{position:absolute;
width:80%;
height:auto;
font-size:.9em;
text-align:right;
padding:10px 0% 15px 0px;
display:block;
text-decoration:none;
color:#fff;
font-family:'Raleway', sans-serif;
z-index:35;

}
/*ESTILO FORM COTIZAR INDEX*/
#form-cotizar
{
position:relative;
float:left;
width:90%;
height:86%;
padding:5%;

}
#form-cotizar label{
font-family:Century Gothic, sans-serif;
color:#27aaf6;
font-size:0.9em;
width:75%;
}

#form-cotizar input, #form-cotizar select, #form-cotizar textarea{
border:1px solid #cfd3d3;
margin-top:5px; 
float:left;
width:100%;
}

#form-cotizar #btn-coti{
	width:50%;
	bottom:8px;
	height:32px; 
	right:3%;
	cursor: pointer;
	border:0px;
	position:absolute;
	font-family:Century Gothic, sans-serif;
	background-color:#;
	color:#fff;
	text-align:center;
	padding:4px;
	padding-top:4px;
	display:block;
	float:left;
	
	margin-left:50%;
	font-size:0.8em;
}


/*-------INICIA ESTILO SECCION CATALAGO ---*/
/*-----------------------------------------*/

.contenido-secciones{
position:relative;
float:left;
width:100%;
height:auto;
top:0px;
margin-top:0px;

}


#box-subtitulo-secciones{
position:relative;
float:left;
width:100%;
height:auto;
margin-top:0px;
background-color:#29313a;
border-bottom:1px solid #1a2129;
}



.box-nombre-seccion{
position:relative;
float:left;
height:auto;
width:80%;
margin-left:10%;
margin-top:90px;
margin-bottom:20px;
text-align:left;
}

.box-nombre-categ-detalle{
position:relative;
float:left;
height:auto;
padding-top:15px;
padding-bottom:15px;
width:100%;
background-color:#f1f1f1;

}


#box-nombre-portafolio{
	position:relative;
	float:left;
	height:auto;
	width:80%;
	padding-left:10%;
	padding-right:10%;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
	background-image:url("../images/banner/fondo-azul.jpg");
background-repeat: repeat;
	padding-top:90px;
	padding-bottom:110px;
	
}


.subtitulos-seccion{
position:relative;
float:left;
font-family:'Raleway', sans-serif;
font-size:4.6em;
width:100%;
font-weight:300;
text-align:center;
color:#344046;}

.subtitulos-seccion-catego{
position:relative;
float:left;
font-family:'Raleway', sans-serif;
font-size:2.6em;
width:100%;
text-align:center;
font-weight:300;
color:#344046;}

.subtitulos-seccion-2{

position:relative;
float:left;
font-family:'Raleway', sans-serif;
font-size:4.6em;
font-weight:300;
width:80%;text-align:left;color:#fff;}




.p-intro{position:relative;
float:left;
font-family:'Roboto', sans-serif;
font-size:1.0em;
width:70%;
margin-left:15%;
text-align:center;
color:#bbbbbb;
padding:20px 0px 20px 0px;}


.p-intro2{position:relative;
float:left;
font-family:'Roboto', sans-serif;
font-size:1.0em;
width:80%;
margin-top:30px;
text-align:left;
color:#fff;}

.h3-subtitulo-secciones {
position:relative;
float:left;
padding-top:7px;
padding-bottom:7px;
margin-left:4%;
font-family:arial;
font-size:0.7em;
font-weight:bold;
font-weight:100;
z-index:0;
width:auto;}

.head-a-ubi{color:#898989;
font-weight:300;}

.head-ubica
{color:#657975;
font-size:1.0em;}

.head-ubica2
{color:#33bba3;
font-size:1.0em;}

/*ESTILO CATEGORIAS*/

.box-art-categorias
{
position:relative;
float:left;
margin-top:20px;
margin-left:1%;
width:32%;
height:330px;
margin-bottom:50px;

}

#box-catego-tienda{
position:relative;
float:left;
margin-top:30px;
width:90%;
margin-left:5%;
margin-bottom:150px;
	
}


.box-circle-catego{
position:absolute;
margin:18px;
width:213px;
height:213px;
left:15%;
background-color:#fff;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
box-shadow:0px 0px 23px 0px #d8d9da;
-webkit-box-shadow:0px 0px 23px 0px #d8d9da;
-moz-box-shadow:0px 0px 23px 0px #d8d9da;


}
.box-circle-in{
width:200px;
margin-left:6px;
margin-top:6px;
height:202px;
background-color:#f5f5f6;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
box-shadow:inset 0px 0px 46px 0px #d8d9da;
-webkit-box-shadow:inset 0px 0px 46px 0px #d8d9da;
-moz-box-shadow:inset 0px 0px 46px 0px #d8d9da;
-moz-opacity: .9;
opacity: .9;}

.box-circle-in img{position:absolute;
width:70%; height:auto;
margin-left:10%;
margin-top:20px;
}

.boton-categorias{
	position:absolute;
	font-family:'Raleway', sans-serif;
	border: 2px solid #dbdbde;
	border-radius:5px;
	-moz-border-radius:5px;
-webkit-border-radius:5px;
	width:80%;
	height:20px;
	padding-top:20px;
	padding-bottom:20px;
	color:#000;
	text-align:center;
	display:block;
	font-size:1.2em;
	font-weight:bold;
	bottom:10px;
	left:8%;

}
.boton-categorias:hover{
border-color:#ff8048;
background-color:#ff8048;
}

#hr-catego{
position:relative;
float:left;
margin-top:0px;
border:1px dotted #07bbb8;
left:0px;
width:90%;
margin-left:5%;
height:2px;
}

/*ESTILO SECCION SERVICIOS*/


.cover-services{position:relative;
float:left;
width:100%;
height:auto;
margin-top:50px;
padding-top:50px;
padding-bottom:80px;
background-image:url("../images/banner/fondo-subtitulos.jpg");
background-repeat: repeat;}


.box-servicios{
position:relative;
float:left;
width:20%; 
padding:1%;
height:auto;
margin-left:1%;
margin-top:40px;
left:3%;
}
.box-servicios a{text-decoration:none; color:#fff;}
.box-texto-servicios {
position:relative;
float:left;
overflow:hidden;
display:block;
width:80%;
height:auto;
margin-left:4%;
}
.box-texto-servicios  li{
position:relative;
font-family:Roboto, sans-serif;
font-size:.9em;
font-weight:100;
color:#959a9a;
margin-top:6px;
list-style-image:url("../images/ico/li-azul.png");
}


#box-txt-reparacion{list-style-image:url("../images/ico/li-azul.png");}

#box-txt-instala{list-style-image:url("../images/ico/li-azul.png");}

#box-txt-web{list-style-image:url("../images/ico/li-azul.png");}



.h2-articulos-servicios
{
position:relative;
color:#fff;
width:100%;
height:auto;
font-family:Raleway, sans-serif;
font-size:1.5em;
font-weight:300;
text-align:center;
}



.icono-services-services
{
position: relative;
width:140px;
height:140px; 
left:23%;
margin-top:20px;
border-radius:30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;

}

#ico-ser-one{background-color:#007aa2;}
#ico-ser-two{background-color:#ec6264;}
#ico-ser-three{background-color:#ff8048;}
#ico-ser-four{background-color:#05b1a7;}

#df-color-1{color:#007aa2;}
#df-color-2{color:#ec6264;}
#df-color-3{color:#ff8048;}
#df-color-4{color:#05b1a7;}



.ico-servicios{
position:absolute;
width:90px;
margin-top:25px;
margin-left:25px;
height:auto; 
}

/* TRIANGULO Y DEGRADADO
{
position: relative;
width:0px;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top:70px solid  orange;


}


  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);*/


.h3-servicios{position:relative;
left:24px;
color:#02877c;}




/*ESTILO SECCION CONTACTO*/
#box-mapa{
position:relative;
float:left;
width:90%;
margin-left:5%;
height:auto;
margin-bottom:80px;
}
#box-mapa iframe{
position:relative;
float:left;
width:100%;
height:300px;
}



.cover-info-con{position:relative;
float:left;
width:80%;
margin-left:10%;
margin-bottom:60px;}


.box-infor{
position:relative;
float:left;
width:33%;

}

.img-inf{position:relative;
float:left;
width:28%;}


.box-infor span{
position:relative;
float:left;
width:55%;
margin-left:5%;
font-family:'Raleway', sans-serif;
font-size:1.0em;
color:#91979e;
margin-top:28px;
}


#titulo-form{
position:relative;
float:left;
font-family:'Raleway', sans-serif;
font-size:4.6em;
width:100%;
font-weight:300;
padding-top:20px;
padding-bottom:20px;
color:#344046;}


#box-form-contac{
position:relative;
float:left;
width:80%;
margin-left:10%;
margin-top:20px;
height:auto;
padding-bottom:120px;
}



.cover-inputs-contacto{
position:relative;
float:left;
width:48%;	
margin-right:1%;

}
.caja-form{
position:relative;
float:left;
width:90%;
padding:10px 5% 10px 5%;
height:60px;
border:0px;
margin-top:10px;
font-family:'Oxygen', sans-serif;
color:#c8cbce;
background-color:#22262b;
}


#mensaje-contacto{position:relative;
float:left;
width:40%;
padding:30px 5% 10px 5%;
height:220px;
border:0px;
margin-top:10px;
 font-family:'Oxygen', sans-serif;
color:#c8cbce;
background-color:#22262b;}


#btn-contact{
	position:relative;
	float:right;
	right:1%;
	font-family:'Raleway', sans-serif;
	background-color:#1b988f;
	width:30%;
	padding:20px 0px 20px 0px;
	height:80px;
	margin-top:20px;
	color:#fff;
	text-align:center;
	display:block;
	font-size:1.0em;
	font-weight:bold;
	cursor: pointer;
	border:0px;

	}


	
#btn-contact:hover{background-color:#d07750;}

#formulario-contacto ::-webkit-input-placeholder  {
  font-family:'Oxygen', sans-serif;
  font-size:1.0em;
  font-weight:bold;
  color:#676a6e;
}

#formulario-contacto  :-moz-placeholder { /* Firefox 18- */
 font-family:'Oxygen', sans-serif;
  font-size:1.0em;
  font-weight:bold;
  color:#676a6e;
}

#formulario-contacto  ::-moz-placeholder {  /* Firefox 19+ */
 font-family:'Oxygen', sans-serif;
   font-size:1.0em;
   font-weight:bold;
   color:#676a6e;
}
 #formulario-contacto  :-ms-input-placeholder
  { /* Internet Explorer 10+ */
 font-family:'Oxygen', sans-serif;
   font-size:1.0em;
   font-weight:bold;
   color:#676a6e;
}




#equipo-trabajo{position:relative;
width:50%;
float:left;
left:3%;
top:50px;
height:450px;


}
.text-contacto{
position:relative;
top:20px;
width:70%;
left:15%;
color:#fff;
text-align:center;
font-family:Century Gothic, sans-serif;
font-size:0.9em;

}
#tc1, .blue-point{color:#29a2e0;
font-weight:bold;}

.img-redes-contacto{position:relative;
top:50px;
left:3%;
float:left;
width:20%;
height:auto;
margin-left:5px;

}
.img-redes-contacto:hover{
background-color:#0160aa;
}

#c-goo:hover{background-color:#9f2302;}
#c-pin:hover{background-color:#C41616;}
#c-you:hover{background-color:#a00101;}

/*ESTILO PORTAFOLIO*/
.box-cover-portafolio{
position:relative;
float:left;
width:90%;
margin-left:5%;
margin-right:5%;
margin-bottom:60px;
}


.box-portafolio{
position:relative;
float:left;
width:32%;
margin-left:1%;
height:auto;
background-color:#fff;
top:40px;
margin-bottom:40px;
border:1px solid #f2f2f2;
}
 
.img-portafolio{
position:relative;
float:left;
width:100%;
z-index:20;
}

.box-portafolio h5{
position:relative;
float:left;
width:80%;
margin-top:18px;
margin-left:10%;
margin-right:10%;
padding-top:7px;
padding-bottom:7px;
height:auto;
font-family:Raleway, sans-serif;
font-size:.9em;
color:#fff;
z-index:22;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #fff;
}

.txt-porta-descrip{position:relative;
float:left;
font-family:'Roboto', sans-serif;
font-size:.8em;
width:80%;
margin-left:10%;
margin-right:10%;
color:#bbbbbb;
padding:5px 0px 20px 0px;}


/*ANIMATION PORTAFOLIO*/

.wrapper .grid{padding:0px;}
.wrapper figure{
position:relative;
float:left;
height:auto;
width:100%;
padding:0px;}


.wrapper .grid figcaption{position:absolute;
top:0px;
left:0px;
right:0px;
height:100%;
width:100%;
padding:0px;}

.wrapper .grid figcaption a{
	position:absolute;
	bottom:6px;
	width:50%;
	left:23%;
	padding:10px;
	height:20px;
	background-color:#0e9a92;
	font-family:'Roboto', sans-serif;
	
	
	
}

.categ-porta{
position:relative;
float:left;
width:100%;
text-align:center;
color:#000;
font-size:1.0em;
padding:15px 0px 10px 0px;
font-family:'Roboto', sans-serif;
font-weight:bold;

}
/**/
#box-aside-cover{position:relative;
float:right;
width:20%;
margin-top:60px;
margin-left:2%;
margin-right:1%;
margin-bottom:30px;}

#seccion-tienda
{position:relative;
float:right;
width:75%;}


/*PAQUETES WEB*/
#cover_paquetes, #cover_demo{
position:relative;
float:left;
width:90%;
margin-left:5%;
height:auto;
margin-top:60px;
margin-bottom:100px;
}

.box-paquetes{
position:relative;
float:left;
width:31%;
margin-left:2%;
background-color:#e4e4e4;
height:600px;
padding-bottom:60px;
}

.name-paquete{
position:relative;
float:left;
width:100%;
font-family:'Raleway', sans-serif;
color:#344046;
font-size:1.4em;
font-weight:500;
text-align:center;
display:block;
margin-top:-40px;
	
}
.costo-txt{
position:absolute;
bottom:70px;
display:block;
right:10%;
width:auto;
font-size:1.0em;
font-family:'Roboto', sans-serif;
color:#000;}
.costo-paquete{
position:absolute;
bottom:40px;display:block;
right:10%;
width:auto;
font-size:1.6em;
font-family:'Roboto', sans-serif;
color:#32bcb4;
}
/*FORMAS INTERACTIVAS PAQUETES*/
#triangle-name1{
	position:absolute;
	top:0px;
	right:0px;
     width: 0;
     height: 0;
     border-right:70px solid  #087ea5;
     border-top:70px solid #087ea5 ;
     border-left:70px solid  transparent;
     border-bottom:70px solid transparent;
	 z-index:25;
}
#triangle-name2{
	position:absolute;
	top:0px;
	right:0px;
     width: 0;
     height: 0;
     border-right:70px solid  #5dc4d6;
     border-top:70px solid #5dc4d6 ;
     border-left:70px solid  transparent;
     border-bottom:70px solid transparent;
	 z-index:25;
}
#triangle-name3{
	position:absolute;
	top:0px;
	right:0px;
     width: 0;
     height: 0;
     border-right:70px solid  #00a299;
     border-top:70px solid #00a299 ;
     border-left:70px solid  transparent;
     border-bottom:70px solid transparent;
	 z-index:25;
}


#triangle-paq1{
	position:absolute;
	bottom:0px;
     width: 0;
     height: 0;
     border-right:70px solid  transparent;
     border-top:70px solid transparent;
     border-left:70px solid  #087ea5;
     border-bottom:70px solid #087ea5;
	 z-index:28;
}
#triangle-paq2{
	position:absolute;
	bottom:0px;
     width: 0;
     height: 0;
     border-right:70px solid  transparent;
     border-top:70px solid  transparent;
	 border-left:70px solid  #5dc4d6;
     border-bottom:70px solid  #5dc4d6;
	  z-index:29;
}
#triangle-paq3{
	position:absolute;
	bottom:0px;
     width: 0;
     height: 0;
     border-right:70px solid transparent;
     border-top:70px solid  transparent;
     border-left:70px solid  #00a299;
     border-bottom: 70px solid #00a299;
	  z-index:27;
     
}


.box-paquetes ul{
position:relative;
float:left;
width:70%;
padding:15%;
display:block;
height:auto;
z-index:30;
	
}
.box-paquetes ul li{
position:relative;
float:left;
width:100%;
font-size:.9em;
font-family:'Oxygen', sans-serif;
color:#5d5d5d;
margin-top:10px;
height:auto;
list-style-image:url("../images/ico/li-azul.png");
}


/*btn-cotizar*/
#btn-cotizar{
position:relative;
float:left;
display:block;
font-family:'Roboto', sans-serif;
font-size:.9em;
color:#fff;
text-align:center;
background-color:#32bcb4;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
margin-left:40%;
margin-right:40%;
padding-top:10px;
padding-bottom:10px;
width:20%;
margin-top:20px;
}


#txt-conoce-cash{
	color:#00a299;
	display:block;
}

/*DEMO CASH----------------*/
#logo-cash{
position:relative;
float:left;
width:30%;
padding:10px 5% 10px 5%;
background-color:#00a299;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
margin-left:30%;
margin-right:30%;
margin-top:10px;}



 
.box-img-demo img, .box-img-demo-riglef img{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}

.box-txt-demo, .box-img-demo{
position:relative;
float:left;
width:40%;
padding:5%;
}

.box-txt-demo-riglef,  .box-img-demo-riglef{
position:relative;
float:right;
width:40%;
padding:5%;
display:none;}


#cover_demo ul{
position:relative;
float:left;
width:70%;
padding-left:15%;
padding-right:15%;
display:block;
height:auto;
z-index:30;
	
}
#cover_demo ul li{
position:relative;
float:left;
width:100%;
font-size:.9em;
font-family:'Oxygen', sans-serif;
color:#5d5d5d;
margin-top:10px;
height:auto;
list-style-image:url("../images/ico/li-azul.png");
}