
a{text-decoration:none;}
.base-titulos{
position:relative;
float:left;
margin-top:70px;
width:100%;
height:100px;

}

#aside-catego{
position:relative;
width:100%;
height:auto;
background-color:#f3f3f3;
float:left;

}

#seccion-categoria{position:relative;
float:right;
width:71%;
margin-right:4%;}

#seccion-table-categoria{
position:relative;
float:left;
width:100%;

}




#aside-catego h4{
position:relative;
float:left;
width:100%;
font-size:.9em;
font-family:'Roboto', sans-serif;
color:#fff;
margin-top:0px;
padding-top:20px;
padding-bottom:20px;
background-color:#ff8048;
text-align:center;
}
#aside-catego a{
position:relative;
float:left;
display:block;
width:80%;
text-align:center;
left:6%;
margin-top:10px;
font-family:'Raleway', sans-serif;
font-size:.8em;
height:35px;
color:#121616;
border-bottom:1px dotted #fff;
}
#aside-catego a:hover{
color:#02cbd2;
}


.articles-categoria{
position:relative;
float:left;
width:24%;
height:auto;
margin-left:1%;
margin-top:10px;
background-color:#f2f2f2;
margin-bottom:30px;
padding-bottom:20px;
}

 .img-box{
 position:relative;
width:90%;
margin-left:5%;
margin-top:10px;
 height:auto;
 float:left;
 background-color:#fff;

 }
 .img-box img{
 position:relative;
 float:left;
  width:90%;
  padding:5%;
  height:180px;
 }
  
.txt-item{position:relative;
float:left;
width:100%;
height:90px;
}

.nombre{position:relative;
float:left;
display:block;
top:10px;
font-family:Arial;
font-size:.9em;
width:90%;
margin-left:4%;


}
.precio{position:relative;
float:left;
display:block;
font-family:Arial;
font-size:.9em;
position:relative;
margin-top:15px;
width:90%;
margin-left:4%;
font-weight:bold;
}
.btn-mas2{
position:relative;
float:right;
margin-right:5%;
height:40px;
width:65%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
background-color:#a8a9a9;
margin-top:13px;
z-index:30;
/**

-webkit-box-shadow: inset -2px 45px 7px -45px rgba(230,230,230,1);
-moz-box-shadow: inset -2px 45px 7px -45px rgba(230,230,230,1);
box-shadow: inset -2px 45px 7px -45px rgba(230,230,230,1);

*/

}

.ico-btn2{position:absolute;
top:6px;
left:0px;
z-index:32;
}
.fx-btn2{
position:absolute;
background-color:#ff8048;
height:100%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
top:0px;
border-style:solid;
border-color:rgba(0, 0, 0 ,.0);
border-width:0px 0px 0px 0px;
  transition: all .3s;
     -moz-transition: all .3s;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
	 width:30%;
	 z-index:31;
}
 
.btn-mas2:hover .fx-btn2{
width:100%;
}
.btn-mas2:hover{color:#000;}


.txt-btn-mas2
{position:absolute;
width:80%;
height:auto;
font-size:.9em;
text-align:right;
padding:10px 0% 15px 0px;
display:block;
text-decoration:none;
color:#fff;
font-family:'Raleway', sans-serif;
z-index:35;

}

#volver-reponsive{
position:relative;
width:90%;
height:40px;
color:#01aeb9;
text-align:center;
border:5px solid #e5e5e5;
padding-top:10px;
float:left;
left:2%;
font-family:Arial;
font-size:1.3em;
display:block;
margin-top:40px;
display:none;
}
