 /*-----------------------HEADER-------------------*/
.wrapper{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	background-color:#fff;
}
.top-nav {

}

.navbar-default {
  background-color: #063c54;
  /*background-color: #00586d;*/
}

#bs-example-navbar-collapse-1 li a{
color:#fff;
font-family: 'Roboto', sans-serif;
font-size:.8em;
font-weight:500;
padding-top:20px;
padding-bottom:20px;
}



#cover-header{position:relative;
	float:left;
	width:100%;
	height:auto;
	z-index:300;
	}
	
 #top-top{
	position:relative;
	float:right;
	width:100%;
	height:auto;
	padding-top:0px;
	padding-bottom:10px;
	background-color:#fff;
z-index:3000;
}

 #logo{
	position:relative;
	float:left;
	width:27%;
	margin-left:38%;
	margin-top:10px;}

 #logo a img{width:100%;}
 
#cover-phones{position:absolute;
	width:20%;
	right:0%;
	bottom:10px;
	}
	
.phones{
	position:relative;
	float:left;
	width:100%;
	margin-top:5px;
	font-size:1.5em;
	font-family:'Raleway',sans-serif;
	margin-right:3%;
	
}

.phones img{width:30px;
height:auto;
}


 /*-----------------------FRONT-------------------*/

.cover-look{
position:absolute;
width:100%;
height:30px;


}

.banner{position:relative;
float:left;
margin-bottom:30px;
  width:100%;
  height:auto;
  padding:0px;
  margin-bottom:60px;
   z-index:3;}
 
 #banner-title h5{position:absolute;
 bottom:280px;
 left:5%;
  width:100%;
  height:auto;
  z-index:300;
  color:#fff;}
  
 #banner-title h1{position:absolute;
 bottom:240px;
 left:5%;
  width:100%;
  height:auto;
   color:#fff;
  z-index:301;}
  
 
 body #banner-title{
  position:absolute;
  width:100%;
  height:200px;
  
 }
body #banner-title ul img{width:100%;}


#cover_articles_front{position:relative;
 float:left;
 width:100%;
 padding-left:2.5%;
 padding-right:2.5%;
 height:auto;
 margin-top:50px;
}

 .cover-titles{position:relative;
 float:left;
 width:100%;
 height:auto;}
 
 
 .box-articles-front{position:relative;
 float:left;
 width:100%;
 margin-top:20px;
 height:auto;}
 
 
 .cover-titles h3,  
  .cover-titles p{
position:relative;
 float:left;
 width:100%;
	 
 }
 
 
  .cover-titles h3{position:relative;
 float:left;
 width:100%;
 font-family:'Raleway', sans-serif;
 font-size:2.7em;
 text-align:center;
 padding-bottom:10px;
  color:#5f9ea0;}
 
  .cover-titles p{position:relative;
 float:left;
 width:80%;
 margin-left:10%;
 font-family:'Raleway', sans-serif;
 font-size:1.1em; 
 text-align:center;
 color:gray;
 }
 
 .cover-titles2{
 background-color:#063c54;
 padding-top:50px;
 padding-bottom:60px;}
 
 /*-----------------------FOOTER-------------------*/
 
body .footer{
	position:relative;
	float:left;
	 padding-top:60px;
	 width:100%;
	 padding-left:5%;
	 padding-right:5%;
 }
 
 
 .footer h3 {font-family: 'BenchNine', sans-serif;
 }