@media only screen  and (max-width : 1366px) {
}


@media only screen  and (max-width : 1280px) {
}



@media only screen  and (max-width :1024px) 


	/* -----------------------------------
 * Slidebars
 * Version 0.10.3
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */
{
	 html, body, #sb-site, .sb-site-container, .sb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
	height: 100%; /* Site is as tall as device. */
}

body {
	min-height: 100%;
	height: auto;
	position: relative; /* Required for static Slidebars to function properly. */
}

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

/* ----------
 * 002 - Site
 */

#sb-site, .sb-site-container {
	/* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	height:auto;
	position: relative;
	z-index: 0; /* Site sits above Slidebars */
 /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}

/* Micro clearfix by Nicolas Gallagher, ensures the site container hits the top and bottom of the screen. */
#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
	content: ' ';
	display: table;
}

#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
    clear: both;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
	overflow-x: auto;
	position: fixed;
	top:0;
	z-index:0; /* Slidebars sit behind sb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: #; /* Default Slidebars background colour, overwrite this with your own css. */
}

.sb-slidebar, .sb-slidebar * {
	-webkit-transform: translateZ( 0px ); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
	left: 0; /* Set Slidebar to the left. */
}

.sb-right {
	right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
	z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch; /* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
	.sb-slidebar {
		width: 44%;
		background-color:#08132b;
	}
	
	.sb-width-thin {
		width: 15%;
	}
	
	.sb-width-wide {
		width: 45%;
	}



/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
	-webkit-transform: translate( 0px );
	   -moz-transform: translate( 0px );
	     -o-transform: translate( 0px );
	        transform: translate( 0px );
	
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition:    -moz-transform 400ms ease;
	     -o-transition:      -o-transform 400ms ease;
	        transition:         transform 400ms ease;
	
	-webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.sb-hide { 
	display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}


	/*----------------MENUUUUUUU MOVILLLLLL-------------*/
	/*----------------MENUUUUUUU MOVILLLLLL-------------*/

body  #sb-site{margin-top:0px; }


.box-menu-movil{
position:relative;
float:left;
width:100%;
margin-top:0px;
padding-top:20px;
background-color:#08132b;
height:90px;
z-index:3000;
display:block;
border-bottom:1px solid #59b4b6;}

#banner{margin-top:0px;}

#ico-menu-movil{
position:absolute;
height:50px;
width:20%;
display:block;
top:30px;
left:8%;
}
.sb-toggle-left{
display:block;
width:100%;
height:auto;
cursor:pointer;}

.logo-movil{position:relative;
float:right;
width:25%;
display:block;
margin-right:38%;
margin-top:10px;

}


.sb-slidebar{padding-left:2%;
padding-right:2%;}

#logo_head, .line-menu{display:none;}

body header, body .w-sections header, body #w-corp header, body #w-priva header{width:100%;
 margin:0px;
 height:auto;
 border:0px;
 padding:0px;
 background-color:rgba(0, 60, 94, .0);
 }

#menu_header{width:100%;
height:auto;
margin-top:30px;
}
#menu_header .list-header{
	width:100%;
	border-bottom:1px solid #152542;
}
#menu_header  .list-header .ancla-menu{
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
	margin-bottom:10px;
	color:#00b5b8;
}
details summary::-webkit-details-marker{
top:21px;
}


#menu_header .ancla-menu:hover,
 #details-paque:hover .ancla-menu,
#w-home #nav-home a, #w-reserv #nav-res a,#w-catego-paque #nav-paq span,  #w-paque #nav-paq-movil a ,#w-promo #nav-prom a, #w-contac #nav-con a, #w-corp #nav-corp a {background-color:#284460;
color:#4ec0c8;
font-weight:600;
}

body #subnav-header{
padding:4% 4% 20px 4%;
background-color:#284460;
width:72%;
margin-left:10%;
margin-right:10%;
margin-bottom:10px;

}

body #subnav-header li{margin-top:20px;
	width:42%;
	margin-left:4%;}
	
body #menu_header  #subnav-header li a{color:#fff;}



/*-------------FRONTT-------*/
#banner, #banner img, #banner .carousel-inner , #banner .item img, #banner  .carousel-caption, #banner .container{
	height:480px;}
	
#w-home #ptw-container{width:30%;}
#banner .container{margin-top:0px;}
#myCarousel .btn_banner{bottom:50px;}
.txt-banner{bottom:130px; font-size:3.5em;}


.title-big, .title-big-right, .title-big-color{font-size:4.0em;}
body .name-paq-prom, .title-news {font-size:1.8em;}


/*-------------FOOTER----------*/
#r-fa, #r-tw, #r-in, #r-pin{
width:20px;
height:20px;}

/*-----STYLE GENERALES-SECTION--------------*/
.banner-section{
margin-top:-90px;
margin-bottom:20px;
overflow:hidden;
height:270px;}

.banner-section img {
height:100%;
}
	
.cover-subtitles
{top:100px;}


#nav-sub{margin-top:-25px;}


/*-------PROMOCIONES-----*/
.name-travel-prom-section{ font-size:1.3em;}
.img-ico-promo{width:40px;
}
.price-travel-pro-section{font-size:.9em;}

/*--CONTACTO--*/
#cover-redes-contac{
	width:80%;
	padding-left:9%;

}
/*--------DETAIL PAQUETES------*/
#box-aside-paquetes{width:20%;}
#section-paquete{width:67%;}
#nav-aside{margin-left:-20px;}
#nav-aside li a{font-size:1.0em;
}

}


@media only screen  and (max-width :800px) {
.logo-movil{width:29%;
margin-right:35%;}	
details summary::-webkit-details-marker{
top:25px;
right:20%;
}
body #subnav-header li{
	width:90%;
	margin-left:9%;}
	
/*-------------FRONTT-------*/
#banner, #banner img, #banner .carousel-inner , #banner .item img, #banner  .carousel-caption,  #banner .container{
	height:350px;
	border-bottom:20px solid #1d273f;}	

.txt-banner{
width:90%;}

#w-home #ptw-container{
position:relative;
float:left;
width:60%;
padding-left:10%;
padding-right:10%;
margin-left:10%;
margin-bottom:40px;
padding-top:30px;
padding-bottom:30px;
top:0px;
left:0px;
background-color:rgba(0, 62, 96, .9);
}

#title-reserv-front{
display:block;
right:5%;
}
.title-big, .title-big-right, .title-big-color{font-size:3.4em;
padding-top:13px;
padding-bottom:13px;}

.fx-border {border-width:2px;}


#cover-promo{padding-bottom:50px;}
.articles_promo
{
width:49%;
margin-right:1%;}

.articles_paquetes_f{
height:300px;
}
.articles_paquetes_f2{
height:370px;
}
body .articles_paquetes_f .line-name{margin-top:30px;}
body .articles_paquetes_f2 .line-name{margin-top:60px;}
#box-suscribir{height:260px;
margin-top:30px;
margin-bottom:0px;
}
#form-news label{width:100%;
color:#fc7575;}

#form-news  input{width:65%;}
 
body  #button-news{width:28%;}

#title-testimo-front{color:#1d273f;}
#box-p-testim p{color:#384868;}


/*FOOTER*/

body #footer-new .articles-foot{
	width:44%;
	padding-left:2%;
	padding-right:2%;}
	
body #footer-new #article-foot-map{width:94%;}
.ico-iata-foot{width:30%;margin-left:33%;}
#r-fa, #r-tw, #r-in, #r-pin{
width:26px;
height:26px;}
 
.ir-arriba{bottom:70px;}

.banner-section{height:240px;}
.cover-subtitles
{top:80;}


/*------PAQUETESSSSSS------*/
body .name-paq-section {font-size:1.9em;}
body .a-img-paq-section{width:100%; height:210px;}
.box-info-paq-cat{width:94%;}
.articles_paquetes_categoria{height:425px;}
.btn-paq-section{width:40%;}
#btn-next{width:25%;}

/*--------------------PROMOCIONESS-----------*/
.articles_promo_section
{
width:48%;
margin-right:1%;
margin-left:1%;}
.img-ico-promo{width:50px;
}
/*-------CORPO-----------*/
.box-txt-travel
{width:90%;
margin-left:5%;
margin-right:5%;
}

#box-img-corp{height:160px;
overflow:hidden;}
.box-info-corp{
width:45%;height:160px;
}
#box-info-puestos{height:auto; margin-bottom:20px;}
/*--------DETAIL PAQUETES------*/
#box-aside-paquetes{width:76%;
	padding:2%;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:20px;
	margin-bottom:50px;}
	
#section-paquete{width:80%;
	margin-left:10%;}
	
#nav-aside{margin-left:-20px;}
#nav-aside li{width:45%;
margin-left:5%;}
#nav-aside li a{font-size:1.3em;
}

.cover-iconos-paquete{
	position:relative;
	float:left;
	background-color:rgba(26, 38, 61, .9);
	padding-bottom:20px;
}


}


@media only screen  and (max-width :640px) {

.logo-movil{width:33%;
margin-right:30%;}	
	
/*---FRONT----*/
#myCarousel .btn_banner{width:28%;}
.txt-banner{font-size:2.8em;}
.title-big, .title-big-right, .title-big-color{font-size:3.0em;
}
.articles_promo
{
width:60%;
margin-left:20%;
margin-right:20%;
height:auto;
border-bottom:1px solid #fff;
padding-bottom:20px;}

.articles_promo img{margin-bottom:20px;}

.articles_promo img{
height:auto;
padding-bottom:20px;
width:15%;}
.box-par, .box-par2{width:90%;
margin-left:5%;
margin-right:5%;}

.articles_paquetes_f, .articles_paquetes_f2{
height:300px;
width:100%;}

/*FOOTER*/
body #footer-new .articles-foot, body #footer-new #article-foot-map{width:80%;
margin-left:0px;
margin-right:0px;
padding-left:10%;
padding-right:10%;
}
#logo_foot{
	width:60%;
	height:auto;}
.titles-foot{font-size:1.5em;}	
.p-foot, .ubi-txt{font-size:1.1em;}
#r-fa, #r-tw, #r-in, #r-pin{
width:38px;
height:38px;}


#cover-red-foot{
	width:70%;
	margin-left:15%;

}

.banner-section{height:220px;}

.subtitles-bg{font-size:2.3em;}

/*------PAQUETESSSSSS------*/
body .name-paq-section {font-size:1.9em;}
body .a-img-paq-section{width:50%;height:100%;}
.box-info-paq-cat{width:44%;}
.articles_paquetes_categoria{height:240px;width:98%;}
.btn-paq-section{width:40%;}
#btn-next{width:40%;padding:4%;}

/*------CONTACTO----*/

#cover-redes-contac{
	width:80%;
	padding-left:16%;

}

.article-contact{
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

/*--------DETAIL PAQUETES------*/
#box-aside-paquetes{width:86%;
	padding:2%;
	margin-left:5%;
	margin-right:5%;
}

#section-paquete{width:90%;
	margin-left:5%;}

	
	
.box-iconos-paq{
	width:96%;
	margin-top:5px;
}
.box-iconos-paq img{width:6%;
margin-left:4%;
border:1px solid #11aaa2;
}

.box-iconos-paq span{width:80%;
margin-left:3%;
text-align:left;}

.privacidad-txt{
	width:90%;
margin-left:5%;}



}
@media only screen  and (max-width :480px)

 {
.logo-movil{width:45%;
margin-right:25%;}	

.sb-slidebar {
		width:50%;
	}
/*-------------FRONTT-------*/
#banner{border-width:10px; margin-bottom:30px;}
#banner, #banner img, #banner .carousel-inner , #banner .item img, #banner  .carousel-caption,  #banner .container{
height:250px;}
body #banner .carousel-control{font-size:3.4em;}
#w-home #ptw-container{
margin-left:5%;
width:80%;
padding-left:5%;
padding-right:5%;
}
.txt-banner{ font-size:2.5em;bottom:110px;}

.title-big, .title-big-right, .title-big-color{font-size:2.6em;
}
.box-all-prom{margin-top:-30px;}
.articles_promo
{
width:80%;
margin-left:10%;
margin-right:10%;}
.name-travel-prom, .price-travel-pro, #frase_front{
font-size:1.3em;
}
body .articles_paquetes_f .line-name,
body .articles_paquetes_f2 .line-name{margin-top:40px;}

body .articles_paquetes_f  .line-name{
	width:50%;
	margin-left:25%;
	
}
body .name-paq-prom {font-size:1.6em;}

/*----footer--*/
#cover-red-foot{
	width:90%;
	margin-left:5%;

}

.subtitles-bg{font-size:2.1em;}
/*------PAQUETESSSSSS------*/

body .a-img-paq-section{width:100%; height:250px;}
.box-info-paq-cat{width:94%;}
.articles_paquetes_categoria{height:auto;
width:94%;margin-right:3%;
margin-left:3%;}
.price-paq-section{padding-bottom:70px;}
.btn-paq-section{width:40%;}
#btn-next{width:45%;}
/*--------------------PROMOCIONESS-----------*/
.articles_promo_section
{
width:90%;
margin-right:5%;
margin-left:5%;}
.img-ico-promo{width:55px;
}
.name-travel-prom-section{font-size:1.6em;}
.price-travel-pro-section{margin-bottom:20px;font-size:1.0em;}


.cover-art-prom2{height:auto;}

/*CONTACTOS*/
#cover-redes-contac #r-fa, #cover-redes-contac #r-tw, #cover-redes-contac #r-in, #cover-redes-contac #r-pin{
width:25px;
height:25px;}

/*-------CORPO-----------*/

#box-img-corp{height:auto;
}
.box-info-corp{
width:80%;
margin-left:10%;
height:auto;
margin-bottom:20px;
}
/*--------DETAIL PAQUETES------*/

#nav-aside{margin-left:-20px;}
#nav-aside li{width:90%;
margin-left:5%;}
#nav-aside li a{font-size:1.3em;
}
#btn-reservar-paq-now,#btn-mod-paq-now{width:47.7%;
margin-left:1%;
margin-right:1%;}


}
@media only screen  and (max-width :360px) {
.sb-slidebar {
width:70%;
	}
.box-menu-movil{height:70px;}

#ico-menu-movil{
top:25px;
}
#ico-menu-movil img{width:35px;
height:35px;}

/*---FRONT----*/
#banner{border-bottom:5px solid #1d273f;}
#banner, #banner img, #banner .carousel-inner , #banner .item img, #banner  .carousel-caption,  #banner .container{
height:180px;}
#banner .container{
width:70%;
margin-left:15%;}

.txt-banner{ font-size:1.7em;bottom:80px;}
#myCarousel .btn_banner{width:40%;
padding:4%;
bottom:30px;}
.title-big, .title-big-right, .title-big-color{font-size:2.2em;
}
.articles_paquetes_f .btn-detalles-viajes{width:60%;
margin-left:15%;}

#form-news  input{width:85%;
margin-left:5%;
margin-right:5%;}
  
body  #button-news{width:90%;
margin-left:5%;
margin-right:5%;}

#box-suscribir{height:auto;
}
/*----footer--*/
#cover-red-foot{
	width:100%;
	margin-left:0%;

}
#r-fa, #r-tw, #r-in, #r-pin{
width:27px;
height:27px;}

.ubi-txt{width:67%;}
	
.ico-ubica-foot{width:13%;margin-top:4px;}


.banner-section{
height:200px;}

#nav-sub{font-size:1.0em;}
.subtitles-bg{font-size:1.5em;}
#btn-next{width:55%;}
/*--------------------PROMOCIONESS-----------*/

.name-travel-prom-section{font-size:1.3em;}
.price-travel-pro-section{font-size:.9em;}


/*------CONTACTO----*/

#cover-redes-contac{
	width:90%;
	padding-left:5%;

}

.article-contact{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

body #formu-contact #btn-send-contacto{height:60px;}

/*----DETAIL PAQUETE*/
#btn-reservar-paq-now,#btn-mod-paq-now{width:98%;
margin-left:1%;
margin-right:1%;}


.box-iconos-paq img{
width:10%;
margin-left:40%;
border:2px solid #11aaa2;
}

.box-iconos-paq span{width:90%;
margin-left:5%;
margin-bottom:10px;
font-family: 'Roboto', sans-serif;
font-weight:400;
text-align:center;
font-size:.9em;
}


}



@media only screen  and (max-width :320px) {
	.txt-banner{ font-size:1.3em;}
	#r-fa, #r-tw, #r-in, #r-pin{
width:20px;
height:20px;}
/*--------------------PROMOCIONESS-----------*/

.img-ico-promo{width:28px;
}

}

@media only screen  and (max-width :240px) {


	}