body{
	margin: 0;
	border: 0;
	padding: 0;
	height:100%;
}



.wrapper
	{position:relative;
	float:left;
	padding: 0 auto;
	position: relative;
	width:100%;
    margin: 0 auto;
	height:auto;
	background-color:#fff;
}
.box-contenido{background-color:#fff;margin-bottom:30px;}
.box-contenido2{margin-bottom:0px;}

header{position:relative;
float:left;
height:80px;
padding-top:30px;
border-style:solid;
border-width: 0px 0px 1px 0px;
border-color:rgba(254,254, 254,.3);
width:90%;
margin-left:5%;
z-index:2000;}

body #w-corp header, body #w-priva header{background-color:rgba(0, 60, 94, .9);
width:90%;
margin-left:0%;
padding-left:5%;
padding-right:5%;
}

body .w-sections header{background-color:rgba(0, 60, 94, .3);
width:90%;
margin-left:0%;
padding-left:5%;
padding-right:5%;
}

#logo_head{position:relative;
float:left;
margin-left:2%;
width:18%;}
#logo_head img{width:100%;}

#menu_header{position:relative;
float:right;
width:75%;
height:40px;
margin-right:0%;}


#menu_header ul{position:relative;
float:left;
width:100%;
display:block;
padding:0px;
margin:0px;
height:auto;
}
#menu_header .list-header{position:relative;
float:left;
width:13.5%;
margin-left:.5%;
height:auto;
list-style:none;
	font-weight:600;
	font-family:'Raleway', Sans serif ;
	text-align:center;
	font-size:.9em ;
	color:#fff;
}

.line-menu{position:absolute;
right:0px;
top:10px;
height:20px;
border-right:1px solid rgba(254,254, 254,.3)
}

#menu_header  .list-header .ancla-menu{
	display:block;
	width:85%;
	margin-left:7.5%;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
-webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
		  	text-decoration:none;
}


#menu_header .ancla-menu:hover,
 #details-paque:hover .ancla-menu {background-color:rgba(254,254, 254,.99);
color:#4ec0c8;
font-weight:600;
 transition: all .5s;
     -moz-transition: all .5s;
     -webkit-transition: all .5s;
     -o-transition: all .5s;
}

#w-home #nav-home a, #w-reserv #nav-res a,#w-catego-paque #nav-paq span,  #w-paque #nav-paq-movil a ,#w-promo #nav-prom a, #w-contac #nav-con a, #w-corp #nav-corp a {background-color:rgba(254,254, 254,.99);
color:#4ec0c8;
font-weight:600;
}

/*navegacion de paquetes*/


#nav-paq-movil{display:none;}

#summ-ancla{ cursor:pointer;}

details summary::-webkit-details-marker{
position:absolute;
top:15px;
right:16px;
margin-right:0px;
color:#4ec0c8;
z-index:1400;
}

/*----------Sublist-------------*/

body #subnav-header{position:relative;
float:left;
display:block;
height:auto;
margin-top:10px;
width:280%;
padding:10% 10% 25px 10%;
margin-left:7%;
background-color:rgba(254,254, 254,.93);
z-index:44000;

}

body #subnav-header li
	{position:relative;
	float:left;
	width:29%;
	margin-left:4%;
	list-style:none;
	font-weight:600;
	font-family:'Raleway', Sans serif ;
	font-size:.8em ;
	margin-top:15px;
	}
	
body #menu_header  #subnav-header li a{
	display:block;
	width:80%;
	text-align:left;
	color:#4ec0c8;
	text-decoration:none;
	background-color:rgba(254,254, 254,.0);
}
body #menu_header #subnav-header li a:hover{
color:#26a2a5;
 transition: all .5s;
     -moz-transition: all .5s;
     -webkit-transition: all .5s;
     -o-transition: all .5s;}
	 
/*----------FIN DE SUBLIST-------------*/


/*Este es para se vea el header en las secciones*/
#header-back
{
	
	position:absolute;
	float:left;
	width:100%;
	height:90px;
	background-color:#1a263d;
	
}

/*Este es para se vea el header en las secciones*/




/*BOTON ARRIBA*/
.ir-arriba {
	display:none;
	width:50px;
	height:35px;
	padding-top:15px;
	text-align:center;
	background-color:rgba(72, 172,175, .9);
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:6px;
	right:10px;
	z-index:2000;
	font-weight: bold;
	font-family:'Cabin', sans-serif;
	text-transform: none;
	font-size:1.5em;
	 -webkit-border-radius:100%;
     -moz-border-radius:100%;
          border-radius:100%;
}

#footer-new{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	padding-top:30px;
	margin-top:0px;
	background-color:#1a263d;
	
}

body #footer-new .articles-foot{
	position:relative;
	float:left;
	width:27%;
	padding-left:2%;
	padding-right:2%;
	margin-left:1%;
	margin-right:1%;
	height:auto;
	padding-bottom:30px;
	
}
.af2{margin-left:0%;
	margin-right:0%;}
	
	
#logo_foot{position:relative;
	float:left;
	width:100%;
	height:auto;}
	
#logo_foot img{width:100%;
	height:auto;}
	

.p-foot{
position:relative;
	float:left;
	width:100%;
	height:auto;
	display:block;
	color:#acc4d1;
	font-size:1.0em;
	margin-top:20px;
	font-family: 'Roboto Condensed', sans-serif;
text-align:justify;
	}
	
	
.titles-foot{position:relative;
	float:left;
	width:100%;
	height:auto;
	display:block;
	color:#b7444d;
	font-size:1.2em;
	margin-top:20px;
	font-family: 'Roboto Condensed', sans-serif;
text-align:center;
padding-bottom:20px;
border-bottom:2px solid  rgba(254, 254, 254, .1);
margin-bottom:20px;}



#cover-red-foot{
	position:relative;
	float:left;
	width:85%;
	margin-left:7.5%;
	height:auto;
	margin-bottom:20px;
	
}
#r-fa, #r-tw, #r-in, #r-pin{
	position:relative;
	float:left;
	border:1px solid rgba(254, 254, 254, .1);
	width:36px;
	height:36px;
	padding:10px;
	margin-left:8px;
	-webkit-border-radius:100%;
     -moz-border-radius:100%;
          border-radius:100%;
		  transition: all .5s;
     -moz-transition: all .5s;
     -webkit-transition: all .5s;
     -o-transition: all .5s;
	
}
/*{
	transition: all .5s;
     -moz-transition: all .5s;
     -webkit-transition: all .5s;
     -o-transition: all .5s;}
	 */
	 
#r-fa:hover{background-color:#034893;}
#r-tw:hover{background-color:#00A3C9;}
#r-in:hover{background-color:#231C17;}
#r-pin:hover{background-color:#960626;}


.cover-ubi-foot{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-top:8px;
}
.ubi-txt{
	position:relative;
	float:left;
	width:70%;
	height:auto;
	display:block;
	color:#acc4d1;
	font-size:1.0em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:justify;
	margin-top:5px;

}


.ico-ubica-foot{
	position:relative;
	float:left;
	width:10%;
	margin-left:10%;
	height:auto;}
	
	

	#cover-mapa, #cover-mapa iframe{position:relative;
	float:left;
	width:100%;
	height:200px;}
	
	
	#cover-copyrigth{position:relative;
	float:left;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#08132b;}
	
	#cover-copyrigth span
	{position:relative;
	float:left;
	width:70%;
	margin-top:10px;
	height:auto;
	display:block;
	color:#fff;
	font-size:.9em;
	font-family: 'Roboto', sans-serif;
	}
	
	
	
	#cover-copyrigth #a-politicas{
	position:relative;
	float:right;
	margin-top:10px;
	height:auto;
	display:block;
	color:#b7444d;
	right:3%;
	font-size:.9em;
	font-family: 'Roboto', sans-serif;
	text-align:center;}
	
	
	
	.iata-txt{position:relative;
	float:left;
	width:100%;
	margin-top:10px;
	height:auto;
	display:block;
	color:#fff;
	font-size:1.2em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	margin-top:25px;
}
	.ico-iata-foot{position:relative;
	float:left;
	width:50%;
	height:auto;
	margin-left:25%;}
	
	
	/**MENU MOVIL*/
.sb-slidebar{
position:relative;
float:left;
height:auto;
width:100%;
background-color:none;
display:block;}

#ico-menu-movil,.logo-movil, .box-menu-movil, #title-reserv-front{display:none;}

