
#w-home #ptw-container{
	position:absolute;
	z-index:200;
	top:180px;
	left:8%;
	width:22%;
	height:auto;
	padding:2%;
	background-color:rgba(2, 1, 31, 0.6);
}

	/* BANNER*/	/* BANNER*/	/* BANNER*/


#banner{position:relative;
float:left;
margin-top:-110px;
width:100%;
height:630px;
border-bottom:40px solid #1d273f;}


#banner  #myCarousel{
position:relative;
width:100%;
height:auto;
padding:0px;
float:left;}

#banner img, #banner .carousel-inner , #banner .item img, #banner  .carousel-caption{
	height:630px;}
	

#banner .container{position:relative;
float:left;
width:80%;
margin-left:10%;
height:100%;
margin-top:50px;
display:block;}

#myCarousel .btn_banner{
position:absolute;
bottom:10px;
right:3%;
display:block;
width:15%;
padding:2%;
text-align:center;
text-decoration:none;
text-align:center;
border:2px solid #fff;
height:auto;
font-family: 'Oxigen', sans-serif;
font-weight:400;
font-size:.8em;
color:#fff;}	
		  


.txt-banner{position:absolute;
width:60%;
bottom:90px;
right:3%;
display:block;
background-color: rgba(2, 1, 31, 0.6);
font-size:2.1em;
text-align:center;
font-weight:400;
font-family: 'Damion', cursive;
color:#fff;}


.cover_standar{
position:relative;
float:left;
width:90%;
padding:20px 5% 20px 5%;
height:auto;

}

.cover_titles{position:relative;
float:left;
width:100%;
height:auto;}

.cover_titles_half{position:relative;
float:left;
width:60%;
margin-right:40%;
margin-bottom:60px;
height:auto;}

.cover_titles_half_rigth{position:relative;
float:right;
width:60%;
margin-left:40%;
margin-bottom:30px;
height:auto;
}

.title-big{position:relative;
float:left;
width:100%;
height:auto;
padding-top:20px;
padding-bottom:20px;
font-family: 'Crete Round', serif;
font-size:5.5em;
color:#fff;
	
}

.title-big-right{
	text-align:right;
	color:#1d273f;
	font-size:5.0em;
}

.title-big-color{
	color:#1d273f;
}


.fx-border{position:relative;
float:left;
width:25%;
display:block;
border:4px solid #1d273f;
}

.fx-border-right{float:right;}


/*---------------------SECTION PROMO----------------**/

#cover-promo{
	
	background-image:url("../../images/banner/travel4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom:100px;

}

.box-all-prom
{position:relative;
float:left;
width:100%;
height:auto;}
	
	
.articles_promo
{position:relative;
float:left;
width:32%;
margin-right:1%;
height:150px;
margin-top:15px;}

.articles_promo a{
position:relative;
float:left;
display:block;
width:100%;
height:100%;
	
}

.articles_promo img{
position:relative;
float:left;
width:20%;
height:auto;
margin-top:20px;
margin-bottom:90px;
}


.name-travel-prom
{position:relative;
float:left;
width:60%;
padding-left:4%;
height:auto;
margin-bottom:10px;
font-family: 'Cabin Condensed', sans-serif;
font-size:1.2em;
color:#ffffff;

}

.price-travel-pro{
position:relative;
float:left;
width:60%;
padding-left:4%;
height:auto;
font-family: 'Cabin Condensed', sans-serif;
font-size:1.5em;
color:#f2f2f2;
	
}



/*---------------------SECTION VUELOS----------------**/
#frase_front{position:relative;
float:left;
width:70%;
margin-left:15%;
height:auto;
text-align:center;
font-family:'Cabin Condensed', sans-serif;
font-size:1.4em;
font-weight:500;
color:#ffffff;}

.box-par{
position:relative;
float:left;
width:49.5%;
margin-right:.5%;
margin-left:0%;
height:auto;
margin-top:15px;
}


.box-par2{
margin-left:.5%;
margin-right:0%;
height:450px;}

.articles_paquetes_f{position:relative;
float:left;
width:100%;
margin-right:.5%;
margin-left:0%;
height:390px;
margin-top:15px;
}

.articles_paquetes_f2{
height:520px;
}

.articles_paquetes_f3{
height:720px;
}



.articles_paquetes_f .a-img-vuelos{
position:absolute;
width:100%;
height:100%;
display:block;
background-color:red;}

.articles_paquetes_f img{
width:100%;
height:100%;}



.fx-vuelos-color{
position:absolute;
width:100%;
height:100%;
background-color:rgba(25,73, 117,.4);
}

/*
.triangle-fx{
	position:absolute;
	top:0px;
	right:0px;
     width: 0;
     height: 0;
     border-right:30% solid  rgba(211, 73, 67, .8);
     border-top:30%solid  rgba(211, 73, 67, .8);
     border-left:30% solid  transparent;
     border-bottom:30% solid transparent;
	 z-index:5;
}*/


	 

body .articles_paquetes_f  .line-name{
position:relative;
float:left;
width:30%;
margin-left:33%;
margin-top:90px;
height:auto;
padding:2%;
border-top:2px solid rgba(254, 254, 254, .4);
border-bottom:2px solid rgba(254, 254, 254, .4);}

body .articles_paquetes_f2  .line-name{
margin-top:160px;
}

body .articles_paquetes_f3  .line-name{
margin-top:250px;
}



body .name-paq-prom 
{position:relative;
float:left;
width:160%;
margin-left:-30%;
padding:0px;
height:auto;
text-align:center;
font-family: 'Cabin Condensed', sans-serif;
font-size:2.7em;
color:#fff;
}

.price-paq-pro{
position:relative;
float:left;
width:60%;
margin-left:20%;
margin-top:20px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
height:auto;
font-family: 'Cabin Condensed', sans-serif;
font-size:1.3em;
color:#b23d4b;
font-weight:bold;
	
}


.articles_paquetes_f .btn-detalles-viajes{
position:relative;
float:left;
width:30%;
padding:3%;
margin-left:31%;
margin-top:20px;
text-align:center;
text-decoration:none;
text-align:center;
border:2px solid #fff;
height:auto;
font-family: 'Oxigen', sans-serif;
font-weight:400;
font-size:.8em;
color:#fff;
-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	
}


#box-suscribir{
position:relative;
float:left;
height:200px;
width:90%;
margin-left:5%;
margin-top:60px;

  background-image: -moz-linear-gradient(top, #273659, #1d273f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#273659), to(#1d273f));
  background-image: -webkit-linear-gradient(top, #273659, #1d273f);
  background-image: -o-linear-gradient(top, #273659, #1d273f);
  background-image: linear-gradient(to bottom, #273659, #1d273f);
  background-repeat: repeat-x;
  
  margin-bottom:50px;
  padding-bottom:20px;
  
}

.title-news{
	
position:relative;
float:left;
width:100%;
text-align:center;
height:auto;
margin-top:20px;
margin-bottom:10px;
font-family: 'Merriweather', serif;
font-size:2.1em;
color:#fff;
}



.p-news{
position:relative;
float:left;
width:80%;
text-align:center;
margin-left:10%;
font-family: 'Cabin Condensed', sans-serif;
font-size:1.2em;
margin-top:20px;
margin-bottom:20px;
color:#fff;}


#form-news{
position:relative;
float:left;
width:80%;
margin-left:10%;
height:auto;

}
#form-news label{
position:relative;
float:left;
width:auto;
margin-right:1%;
text-align:center;
height:auto;
margin-bottom:10px;
margin-top:15px;
font-family: 'Raleway', sans-serif;
font-size:1.0em;
letter-spacing:.5px;
color:#fff;	
}
  #form-news  input{
position:relative;
float:left;
width:45%;
height:30px;
padding:5px;
-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	  
  }

body  #button-news{position:relative;
float:left;
width:25%;
height:40px;
margin-left:1%;
border:2px solid #fff;
background-color:transparent;
font-family: 'Oxigen', sans-serif;
font-weight:400;
font-size:.8em;
color:#fff;
display:block;}




.fx-tri-suscri{   
position:absolute;
top:0px;
left:0px;
border-left:100px solid  #1f2d51;
     border-top:100px solid #1f2d51 ;
     border-right:100px solid  transparent;
     border-bottom:100px solid transparent;
}


	
	/*
	
	
	REDDDD
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
	
*/


/*---------------------SECTION VIAJEROS DICEN----------------**/

#cover-testimonios{
	
	background-image:url("../../images/banner/testimonios-viajeros.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom:100px;
	margin-top:60px;

}

#box-p-testim{
	position:relative;
	float:left;
	width:80%;
	margin-left:10%;
}


#box-p-testim p{
	position:relative;
	float:left;
	width:100%;
	font-family: 'Courgette', cursive;
font-size:1.4em;
color:#fff;
	
}

.comillas-tes{
font-size:2.0em;
color:#c34e52;	
	
}

/*------PRIVACIDAD--------*/


.privacidad-txt{position:relative;
	float:left;
	width:70%;
	margin-left:15%;
	height:auto;
	display:block;
	color:#8298a1;
	font-size:1.0em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:justify;
	margin-top:5px;}


/*-------CONTACTO---------*/

#section-contact{margin-top:30px;}


.article-contact{
position:relative;
	float:left;
	width:45%;
	margin-left:2.5%;
	margin-right:2.5%;
	height:auto;
	margin-bottom:70px;
	}
	



.titles-contact{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	display:block;
	color:#b7444d;
	font-size:1.3em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	margin-top:5px;
	margin-bottom:20px;
	
}

#formu-contact{position:relative;
float:left;
width:90%;
height:auto;
background-color:#f3f3f3;
padding-top:30px;
padding-bottom:40px;
padding-left:5%;
padding-right:5%;}


#formu-contact label{position:relative;
	float:left;
	width:80%;
	padding-left:5%;
	margin-top:10px;
	display:block;
	color:#000;
	font-size:.9em;
	font-family: 'Roboto', sans-serif;
	font-weight:600;

}

body #formu-contact input{
position:relative;
float:left;
border-width:0px 0px 1px 0px;
border-color:#2c3851;
background-color:rgba(254, 254, 254, .0);
width:82%;
margin-left:5%;
padding-left:3%;
padding-right:5%;
height:25px;
color:#1d273f;
font-family:'Roboto', sans-serif;
font-size:1.0em;
  -webkit-border-radius: 0px;
     -moz-border-radius:  0px;
          border-radius:  0px;
	
	
}
body #formu-contact textarea{
position:relative;
float:left;
border-width:0px 0px 1px 0px;
border-color:#2c3851;
width:82%;
background-color:rgba(254, 254, 254, .0);
margin-left:5%;
padding-left:3%;
padding-right:5%;
height:50px;
color:#1d273f;
font-family:'Roboto', sans-serif;
font-size:1.0em;
  -webkit-border-radius: 0px;
     -moz-border-radius:  0px;
          border-radius:  0px;
	
	
}
body #formu-contact #btn-send-contacto{
position:relative;
float:left;
display:block;
width:92%;
margin-left:4%;
text-align:center;
height:80px;
font-family: 'Crete Round', serif;
font-size:1.2em;
color:#fff;
background-color:#b7444d;
cursor:pointer;
margin-top:20px;
-webkit-border-radius:40px;
     -moz-border-radius:40px;
          border-radius:40px;}	

	
	
	}
	
	

::-webkit-input-placeholder { color:#1d273f;font-size:1.0em;  }
::-moz-placeholder { color:#1d273f;font-size:1.0em;  } /* firefox 19+ */
:-ms-input-placeholder {color:#1d273f;font-size:1.0em;  } /* ie */
input:-moz-placeholder { color:#1d273f;font-size:1.0em;  }


/*-----CONTACT-CONTACT-----*/
#cover-all-cont{position:relative;
	float:left;
	width:100%;
	height:auto;
	background-color:#f3f3f3;
	padding-top:20px;
	padding-bottom:20px;
-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
		  margin-top:10px;
		  margin-bottom:20px;
	}
.cover-ubi-contact{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-top:8px;
}
.ubi-txt-contact{
	position:relative;
	float:left;
	width:70%;
	height:auto;
	display:block;
	color:#1a263d;
	font-size:1.0em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:justify;
	font-weight:600;
	margin-top:5px;

}


.ico-ubica-contact{
	position:relative;
	float:left;
	width:10%;
	margin-left:10%;
	height:auto;}


#cover-redes-contac{
	position:relative;
	float:left;
	width:60%;
	padding-left:23%;
	height:auto;
	margin-top:20px;
	margin-bottom:20px;
	
	
}

#cover-redes-contac #r-fa, #cover-redes-contac #r-tw, #cover-redes-contac #r-in, #cover-redes-contac #r-pin {background-color:rgba(26, 38, 61, .8);}


/*----PAGOS----------*/

 #cover-all-pagos{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	background-color:rgba(1, 73, 109, .9);
	padding-top:20px;
	padding-bottom:20px;
-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
		  margin-top:10px;
		  margin-bottom:20px;
	}


.ico-pay{position:relative;
	float:left;
	width:50%;
	margin-left:25%;
	height:auto;}
	
.ubi-txt-pay{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	height:auto;
	display:block;
	color:#011d28;
	font-size:.9em;
	font-family: 'Crete Round', serif;
	margin-top:5px;

}
	
#img-captcha{position:relative;
float:left;
width:90%;
margin-left:5%;}

.captcha
{
	width:100px;
	height:50px;
	
	
}


/*RESERVAAAA*/


body #w-reserv #ptw-container{
	position:relative;
	float:left;
	width:94%;
	padding:3%;
	margin-left:0%;
	height:auto;
	background-image:url("../../images/banner/reserv-travel.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body #w-reserv #ptw-container input{
height:40px;}


/*------PAQUETES  CATEGORIAS---------SECTION*/
/*------PAQUETES---------SECTION*/
#w-catego-paque{background-color:#e4e0e0;
padding-bottom:70px;}

.articles_paquetes_categoria{position:relative;
float:left;
width:48%;
margin-right:1%;
margin-left:1%;
height:auto;
margin-top:10px;
margin-bottom:30px;
background-color:#fff;
height:240px;
}



body .a-img-paq-section{
position:relative;
float:left;
width:50%;
height:100%;
display:block;
}

.a-img-paq-section img{
width:100%;
height:100%;}

.box-info-paq-cat{
position:relative;
float:left;
width:44%;
padding:3%;	
	}
	
body .name-paq-section
{position:relative;
float:left;
width:90%;
font-family: 'Cabin Condensed', sans-serif;
font-size:2.2em;
font-weight:400;
color:#1d2633;
margin-bottom:5px;
margin-top:15px;
}

.price-paq-section{
position:relative;
float:left;
width:100%;
height:auto;
font-family: 'Open Sans', sans-serif;
font-weight:500;
font-size:1.0em;
letter-spacing:1px;
color:#1e6b82;
	
}
.txt-vigencia-cat{position:relative;
float:left;
width:100%;
text-align:right;
font-size:.9em;
font-family: 'Roboto Condensed', sans-serif;
color:#4ec0c8;}

/*
.predescrip-paquete{position:relative;
float:left;
margin-top:5px;
width:100%;
height:auto;
font-family: 'Roboto', sans-serif;
font-size:1.2em;
color:#9fabc6;
	}
	<p class="predescrip-paquete">Venecia – Florencia – Roma...</p>*/
	
.btn-paq-section{
position:absolute;
width:20%;
padding:1%;
right:3%;
bottom:20px;
text-align:center;
text-decoration:none;
border:1px solid #4ec0c8;
height:auto;
font-family: 'Oxigen', sans-serif;
font-weight:400;
font-size:.8em;
color:#4ec0c8;
-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#btn-next{position:relative;
float:right;
margin-right:2%;
width:16%;
padding:2%;
background-color:#1a263d;
color:#fff;

font-family: 'Cabin Condensed', sans-serif;
font-size:.9em;}

#btn-next span
{position:absolute;
right:10%;
top:10px;
color:#fff;
display:block;
text-align:center;
font-family: 'Open Sans Condensed', sans-serif;
font-size:2.0em;
height:70px;}
/*-----------PROMOCIONES SECTION---------*/

	
	
.articles_promo_section
{position:relative;
float:left;
width:31%;
margin-right:1%;
margin-left:1%;
height:auto;
padding-bottom:20px;
margin-top:15px;}

.cover-art-prom{position:relative;
float:left;
width:100%;
height:auto;
background-color:#08132b;}

.cover-art-prom2{
	height:100px;
}

body .img-bg-promo{
position:relative;
float:left;
width:100%;
height:auto;
}

.img-ico-promo{position:absolute;
right:5%;
top:20px;
width:80px;
height:auto;
}

.name-travel-prom-section
{position:relative;
float:left;
width:60%;
padding-left:4%;
height:auto;
margin-bottom:10px;
font-family: 'Cabin Condensed', sans-serif;
font-size:1.4em;
color:#ffffff;
}

.price-travel-pro-section{
position:relative;
float:left;
width:60%;
padding-left:4%;
height:auto;
font-family: 'Roboto', sans-serif;
color:#3e4e68;
	
}

.btn-pro-section{position:absolute;
right:0%;
top:0px;
padding-top:30px;
background-color:#1a263d;
color:#3e4e68;
display:block;
width:20%;
height:100%;
text-align:center;
font-family: 'Open Sans Condensed', sans-serif;
font-size:2.0em;
height:70px;}


/*---------CORPORATIVO--------*/

.box-txt-travel{position:relative;
float:left;
width:48%;
margin-left:2%;
}

.box-txt-travel img{
position:relative;
float:left;
width:100%;
height:auto;
	
}
#logo-corp{position:absolute;
z-index:15;
width:80%;
left:10%;
top:20px;}

.subtitles-corp{position:relative;
	float:left;
	width:100%;
	height:auto;
	display:block;
	color:#b7444d;
	font-size:1.2em;
	z-index:10;
	margin-top:20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom:20px;
}


.box-txt-travel p{position:relative;
float:left;
width:100%;
height:auto;
font-family: 'Roboto', sans-serif;
font-size:1.2em;
color:#9fabc6;}

.ul-corp{position:relative;
float:left;
width:90%;
height:auto;
display:block;}

.ul-corp li
{position:relative;
float:left;
width:100%;
height:auto;
color:#9fabc6;
	font-size:1.0em;
	margin-top:5px;
	font-family: 'Roboto Condensed', sans-serif;}

#cover-info-corp{
position:relative;
float:left;
width:100%;
margin-top:30px;
background-color:#08132b;
}

#linea-directorio{
position:relative;
float:left;
width:80%;
display:block;
margin-left:10%;
border-bottom:1px solid #e26d79;
}
.box-info-corp{position:relative;
float:left;
width:21%;
padding:1%;
margin-left:1%;
margin-right:1%;
height:auto;
margin-top:10px;
}


.box-info-corp img{position:relative;
float:left;
width:25%;
margin-left:30%;}


.box-info-corp span{position:relative;
	float:left;
	color:#9fabc6;
	width:100%;
	font-size:1.0em;
	text-align:center;
	padding-bottom:10px; 
	margin-top:5px;
	font-family: 'Roboto Condensed', sans-serif;}
	
	
	
	
	/*--------STYLOS GENERALES-SECTION--------------*/
.banner-section{position:relative;
float:left;
width:100%;
height:300px;
z-index:0;
margin-top:-110px;
margin-bottom:20px;}

.banner-section img {position:absolute;
width:100%;
height:300px;
z-index:3;}
	
.cover-subtitles
{position:absolute;
	top:120px;
	z-index:70;
	width:100%;}
	
.subtitles-bg{position:relative;
	float:left;
	color:#fff;
	width:100%;
	font-size:2.5em;
	font-weight:bold;
	text-align:center;
	font-family: 'Cabin', sans-serif;
}
#nav-sub
{position:relative;
	float:left;
	color:#fff;
	width:100%;
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	font-family: 'Cabin', sans-serif;
}
#nav-sub a{
	color:#4ec0c8;
	
}


/*--------PAQUETESSSS--------------*/
#box-aside-paquetes{position:relative;
	float:left;
	width:28%;
	padding:2%;
	height:auto;
	margin-left:3%;
	margin-right:3%;
	background-color:#f3f3f3;
	margin-top:20px;}
	
#aside-paquetes{position:relative;
	float:left;
	width:100%;}
	
#aside-paquetes h3
{position:relative;
	float:left;
	width:100%;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:#282828;
	letter-spacing:1px;}	
	
#nav-aside{
	position:relative;
	float:left;
	width:90%;
	display:block;
	
}
#nav-aside li{
	position:relative;
	float:left;
	width:100%;
	margin-top:10px;
	list-style:none;
	letter-spacing:1px;
}

#nav-aside li a{font-size:1.1em;
	font-weight:bold;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	color:#4ec0c8;}

	
#section-paquete{position:relative;
	float:left;
	width:59%;
	margin-left:3%;}


	
.img-paquete-detail{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	z-index:17;
	
}
	
	
.box-detail-paquete{
	position:relative;
	float:left;
	width:100%;
	margin-top:20px;}	

	
#cover-volamos-con{position:absolute;
	width:60%;
	right:10px;top:20px;
	height:auto;
	z-index:19;}
	
#span-volamos{position:relative;
float:right;
width:90%;
margin-right:3%;
display:block;
text-align:right;
font-size:1.6em;
color:#fff;
font-family: 'Damion', sans-serif;
font-weight:600;
text-shadow: -1px 1px 4px #000000;

}

#logo-linea-viaje{position:relative;
float:right;
width:40%;}


.cover-iconos-paquete{
	position:absolute;
	bottom:0px;
	width:100%;
	z-index:18;
	height:auto;
	background-color:rgba(26, 38, 61, .7);
}

.box-iconos-paq{
	position:relative;
	float:left;
	width:29.3%;
	height:auto;
	padding:2%;
}


.box-iconos-paq img{
position:relative;
float:left;
margin-top:0px;
width:20%;
height:auto;
padding:5px;
margin-left:34%;
-webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius:  100%;
		 border:2px solid #11aaa2;}

.box-iconos-paq span{position:relative;
float:left;
width:100%;
height:auto;
font-size:1.0em;
font-family: 'Roboto Condensed', sans-serif;
font-weight:600;
text-align:center;
color:#fff;
margin-top:5px;}

#txt-vigencia{position:relative;
float:right;
width:auto;
height:auto;
margin-top:5px;
font-size:.8em;
background-color:rgba(3, 86,112, .9);
font-family: 'Roboto', sans-serif;
font-weight:300;
text-align:center;
color:#fff;
padding:8px;}


.subtitles-paquetes-in{position:relative;
float:left;
	z-index:10;
	width:100%;
	height:auto;
	display:block;
	color:#b7444d;
	font-size:1.5em;
	margin-top:20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom:20px;
}
#word_itinerario{position:relative;
float:left;
width:100%;
font-family: 'Roboto', sans-serif;
font-size:.8em;
font-weight:600;
color:#9fabc6;}


.sub-in-paq{position:relative;
float:left;
width:auto;
font-family: 'Open Sans', sans-serif;
font-size:.9em;
letter-spacing:1px;
font-weight:300;
color:#454c60;
margin-top:15px;
margin-bottom:5px;
font-weight:bold;
}

#box-detail-paquete-complete p{
position:relative;
float:left;
width:100%;
height:auto;
font-family: 'Roboto', sans-serif;
font-size:1.2em;
color:#9fabc6;
	
}

#table_info_paquetes{
position:relative;
float:left;
width:100%;
height:auyo;
margin-top:30px;
margin-bottom:90px;

}



.cover_filas_paq_titles{
position:relative;
float:left;
width:100%;
height:auto;
border-top:3px solid #4ec0c8;
}

.box-conten-paq{
position:relative;
float:left;
width:30.3%;
padding:15px 1% 15px 2%;
height:20px;
border-bottom:1px solid #e8e8e8;

}


.cover_filas_paq{
position:relative;
float:left;
width:100%;
height:auto;

}

#txt-res-paquete{position:relative;
float:left;
display:block;
width:100%;
font-family: 'Raleway', sans-serif;
font-size:1.3em;
letter-spacing:1px;
color:#2d313e;}
.email_hidden{position:relative;
float:left;
display:none;
width:100%;
font-family: 'Raleway', sans-serif;
font-size:1.2em;
letter-spacing:1px;
color:#fb656a;}
#table_info_paquetes h5{
position:relative;
float:left;
display:block;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.7em;
color:#2d313e;
margin-top:-3px;
}

#table_info_paquetes span{
position:relative;
float:left;
display:block;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.8em;
color:#2d313e;
}

.resalt-table{font-weight:600;}


#btn-reservar-paq-now{
position:relative;
float:right;
width:40%;
margin-top:15px;
padding-top:20px;
padding-bottom:20px;
display:block;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.8em;
color:#fff;
background-color:#4ec0c8;
}

#btn-mod-paq-now{
position:relative;
float:right;
width:40%;
margin-right:3%;
margin-top:15px;
padding-top:19px;
padding-bottom:19px;
display:block;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.8em;
color:#9fabc6;
border:1px solid #9fabc6;
}
#btn-mod-paq-now_xtas{
position:relative;
float:right;
width:40%;
margin-right:3%;
margin-top:15px;
padding-top:19px;
padding-bottom:19px;
display:block;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.8em;
color:#9fabc6;
border:1px solid #9fabc6;
}
#btn_rese_cont{
position:relative;
float:right;
width:40%;
margin-top:15px;
padding-top:20px;
padding-bottom:20px;
display:block;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.8em;
color:#fff;
background-color:#4ec0c8;
}
#btn_rese{
position:relative;
float:right;
width:40%;
margin-top:15px;
padding-top:20px;
padding-bottom:20px;
display:none;
text-align:center;
font-family: 'Roboto', sans-serif;
font-size:.8em;
color:#fff;
background-color:#4ec0c8;
}
.lab_error
{
	color:#b7444d;}
}

#img-captcha{position:relative;
float:left;
width:94%;
font-family: 'Roboto', sans-serif;
font-size:3.0em;
}

#img-captcha img{overflow:visible;
width:50%;
height:50px;
font-family: 'Roboto', sans-serif;
font-size:3.0em;}
